.commerce-line-item-views-form {
  .delete-line-item {
    font: 600 13px/24px indivisible !important;
    width: 100%;
  }
}

.commerce-line-item-views-form, .view-commerce-cart-summary {
  table {
    width: 100%;
  }

  th {
    background-color: $black_10;
    color: $black_40;
    font: 700 13px/15px indivisible;
    height: 29px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 13px;
    @include breakpoint($b720) {
      font-size: 9px;
    }
  }

  th, td {
    border: 1px solid $black_20;
    vertical-align: middle;
  }

  td {
    padding: 4px 13px;
    background-color: white;
    color: #202020;
    font: 400 13px/15px indivisible;
    vertical-align: middle;
    height: 29px;
  }
}

th.views-field-commerce-file-line-item-files,
td.views-field-commerce-file-line-item-files {
  border-right: none;
  padding-right: 6px;
  width: 1px;
}

th.views-field-line-item-title,
td.views-field-line-item-title {
  border-left: none;
  padding-left: 6px;
}

.page-user-orders {
  th.views-field-line-item-title,
  td.views-field-line-item-title {
    border-left: 1px solid $black_20;
    padding-left: 13px;
  }

  .views-table {
    width: 100%;
  }
}

td.views-field-line-item-title {
  font-weight: 700;
  text-align: left;
}

td.views-field-commerce-unit-price,
td.views-field-edit-quantity,
td.views-field-commerce-total {
  text-align: right;
}

td.views-field-edit-quantity {
  padding: 0;
  background-color: white;
  @include trans(background-color, 0.5s, ease, 0s);
}

td.views-field-edit-quantity:hover {
  background-color: $yellow_2;
  @include trans-duration(0.2s);
}

td.views-field-edit-delete {
  padding: 4px;
}

td.views-field-edit-quantity .form-text {
  background-color: transparent;
  border: none;
  color: #202020;
  font: 400 13px/29px indivisible;
  padding: 0 13px;
  text-align: right;
  width: 100%;
  height: 100%;
}

.line-item-summary {
  margin: 22px 0 33px 0;
  font: 400 18px/18px indivisible;
  color: black;
}

#edit-checkout {
  margin-left: 13px;
}

.sunday #edit-checkout,
.sunday #edit-continue {
  background-color: $black_40;
  cursor: auto;
}

.view-commerce-cart-summary .view-footer {
  text-align: right;
}

.commerce-price-formatted-components {
  tr {
    border: none;
  }

  td {
    border: none;
    white-space: nowrap;
    font: 400 18px/36px indivisible;
    color: black;
  }
}

table.checkout-review {
  & > tbody > tr {
    background-color: white;
    border: none;
    padding: 0;
  }

  .pane-title {
    font: 700 18px/18px indivisible;
    color: $black_87;

    & > td {
      padding: 22px 0 7px 0;
      border: none;
    }
  }

  & .pane-data > td {
    padding: 0;
    border: none;
  }
}

.pane-data {
  font: 400 13px/15px museo-slab;
  color: $black_87;

  .form-item label {
    display: inline;

    label:after {
      content: ':';
    }
  }
}

.checkout-review h2 {
  margin: 0;
}

.checkout-help {
  font: italic 400 13px/15px museo-slab;
}

#payment-details {
  font: italic 400 13px/15px museo-slab;
  margin-top: 22px;
}

#edit-checkout-completion-message {
  font: 400 13px/21px museo-slab;
  color: $black_87;
  margin-bottom: 10px;
}

.cart-empty-page {
  font: 400 13px/15px museo-slab;
  color: $black_87;
}

div.addressfield-container-inline > div.form-item input[type="text"],
div.addressfield-container-inline > div.form-item input[type="url"],
div.addressfield-container-inline > div.form-item input[type="number"],
div.addressfield-container-inline > div.form-item input[type="tel"],
div.addressfield-container-inline > div.form-item input[type="color"],
div.addressfield-container-inline > div.form-item input[type="email"],
div.addressfield-container-inline > div.form-item input[type="password"],
div.addressfield-container-inline > div.form-item textarea,
div.addressfield-container-inline > div.form-item select {
  width: auto;
}

@include breakpoint($b720) {
  div.addressfield-container-inline > div.form-item {
    float: none;
    margin-right: 0;
  }
}

.page-checkout-complete {
  p, ul {
    margin-bottom: 12px;
  }

  ul {
    list-style-type: disc;

    li {
      margin-left: 18px;
    }
  }
}

.logged-in {
  #block-block-6 {
    display: none;
  }
}

#block-block-6 {
  background-color: $blue_2;
  padding: 12px;
  margin-top: 12px;
  animation-name: throb;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  a {
    font-weight: bold;
    color: $blue_0;
    @include trans(color, 0.2s, ease, 0s);

    &:hover {
      color: black;
    }
  }
}

@keyframes throb {
  from {
    background-color: $blue_2;
  }
  to {
    background-color: $blue_3;
  }
}
