.view-april-afternoon-courses .views-row,
.page-taxonomy-term .node-course-product-wrapper {
  padding: 24px;
  border-top: solid 1px $black_20;
  @include trans(background-color, 0.5s, ease, 0s);

  &:hover {
    background-color: $green_4;
  }

  h2 {
    @include grid-block(12, 12, no-butt);
    margin-bottom: 12px;

    a {
      color: $green_1;

      &:hover {
        color: $green_0;
      }
    }
  }

  .product-details-wrapper {
    @include grid-block(9, 12, no-butt);
    @include breakpoint($course-teaser-collapse1) {
      @include grid-block(8, 12, no-butt);
    }
    @include breakpoint($course-teaser-collapse2) {
      @include grid-block(6, 12, no-butt);
    }
    @include breakpoint($course-teaser-collapse3) {
      @include grid-block(12, 12, no-butt);
    }
  }

  .field-name-field-thumbnail {
    @include grid-block(3, 12, no-butt);
    @include breakpoint($course-teaser-collapse1) {
      @include grid-block(4, 12, no-butt);
    }
    @include breakpoint($course-teaser-collapse2) {
      @include grid-block(6, 12, no-butt);
    }
    @include breakpoint($course-teaser-collapse3) {
      @include grid-block(12, 12, no-butt);
    }

    img {
      width: 100%;
      height: auto;
    }

    @include trans(opacity, 0.2s, ease, 0s);

    &:hover {
      opacity: 0.5;
    }
  }
}

.view-april-afternoon-courses .views-row,
.node-type-course-product-wrapper,
.page-taxonomy-term .node-course-product-wrapper {
  .field-name-body,
  .field-name-field-lessons,
  .field-name-field-running-time,
  .field-name-field-course-tags,
  .field-name-field-offsite-link,
  .field-name-commerce-price,
  .field-name-field-product {
    margin-bottom: 12px;
    clear: both;
    overflow: hidden;

    a {
      color: $green_1;

      &:hover {
        color: $green_0;
      }
    }
  }

  .field-name-field-thumbnail {
    .field-item:not(:first-child) {
      display: inline;
    }
  }

  .field-name-field-running-time {
    font-size: 14px;
    margin-bottom: 0;
  }

  .field-name-field-course-tags {
    font-size: 14px;
    @include comma-separated-field-items;
  }

  .field-name-commerce-price {
    font: 300 24px/24px indivisible;
    color: $black_40;
    clear: both;
  }

  .disabled-product-notification {
    font-size: 14px;
  }

  .course-access-notification {
    a {
      font: 600 13px/24px indivisible;
      padding: 0 13px;
      display: inline-block;
      height: 24px;
      background-color: $blue_1;
      color: white;
      @include trans(background-color, 0.5s, ease, 0s);

      &:hover {
        background-color: $blue_0;
        @include trans(background-color, 0.2s, ease, 0s);
      }
    }
  }
}

.node-type-course-product-wrapper {
  .field-name-body {
    padding: 24px 0;
    font-size: 20px;
    line-height: 27px;
  }

  .field-name-field-thumbnail {
    .field-item:first-child {
      img {
        @include breakpoint($course-node-collapse) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .course-access-notification {
    a {
      font-size: 18px;
      padding: 6px 18px;
      height: auto;
      border-radius: 3px;
    }
  }
}

.node-type-course-paid-content {
  .field-name-body {
    margin-bottom: 24px;
  }

  .node-videojs-playlist {
    padding: 24px;
    border-top: solid 1px $black_20;

    .playlist {
      li {
        a {
          display: block;
          background-color: $black_87;
          color: white;
          padding: 6px 12px;
          @include trans(background-color, 0.5s, ease, 0s);
          border-top: solid 1px rgba(255, 255, 255, 0.25);
          border-bottom: solid 1px rgba(0, 0, 0, 0.25);

          &:hover {
            background-color: $green_0;
            @include trans(background-color, 0.2s, ease, 0s);
          }

          &.playing {
            background-color: $green_1;
          }

          &.paused {
            background-color: $yellow_0;
          }
        }
      }
    }
  }
}

// Styles for video player.
.video-js {
  .vjs-control-bar {
    background-color: transparentize($black_87, 0.3);
  }

  .vjs-slider {
    background-color: transparentize($green_1, 0.8);
  }

  .vjs-load-progress {
    div {
      background: $green_1
    }
  }

  .vjs-big-play-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: transparentize($black_87, 0.5);
    @include trans(background-color, 0.5s, ease, 0s);

    &:focus {
      background-color: $green_1;
    }
  }

  &:hover {
    .vjs-big-play-button {
      background-color: $green_1;
      @include trans(background-color, 0.2s, ease, 0s);
    }
  }
}

.vjs-big-play-centered .vjs-big-play-button {
  margin-top: -30px;
  margin-left: -30px;
}

.vjs-icon-placeholder:before {
  line-height: 56px;
  font-size: 36px;
}

.node-type-course-paid-content {
  .field-name-body {
    margin-bottom: 24px;
  }

  .node-videojs-playlist {
    padding: 24px 0;
    border-top: solid 1px $black_20;

    .playlist {
      li {
        a {
          display: block;
          background-color: $black_87;
          color: white;
          padding: 6px 12px;
          @include trans(background-color, 0.5s, ease, 0s);
          border-top: solid 1px rgba(255, 255, 255, 0.25);
          border-bottom: solid 1px rgba(0, 0, 0, 0.25);

          &:hover {
            background-color: $green_0;
            @include trans(background-color, 0.2s, ease, 0s);
          }

          &.playing {
            background-color: $green_1;
          }

          &.paused {
            background-color: $yellow_0;
          }

          &.has-had-play-clicked {
            &::after {
              content: '\2713';
              margin-left: 18px;
            }
          }
        }
      }
    }
  }
}

// Colors for video player.
.video-js {
  .vjs-control-bar {
    background-color: rgba(32, 32, 32, 0.7);
  }

  .vjs-slider {
    background-color: rgba(141, 198, 63, 0.2);
  }

  .vjs-load-progress {
    div {
      background: $green_1
    }
  }
}

.comment-form {
  textarea {
    min-height: 200px;
  }
}
