.front {
  .masthead {
    width: 100%;
    height: 450px;
    background: $black_10 image-url('masthead.jpg') center center no-repeat;
    @include breakpoint($front-masthead-collapse) {
      height: 225px;
      background-image: image-url('masthead-smaller.jpg');
      background-size: 960px 225px;
    }
  }

  .width_limiter.main {
    margin-top: 0;

    .block_container {
      @include breakpoint($triptych-collapse) {
        padding: 0;
      }
    }

    .content_without_sidebar {
      @include breakpoint($triptych-collapse) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .region-triptych {
    display: flex;
    @include breakpoint($triptych-collapse) {
      flex-wrap: wrap;
    }

    .block {
      padding: 24px 60px;
      cursor: pointer;
      @include trans(background-color, 0.5s, ease, 0s);
      flex-grow: 1;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      .content {
        text-align: center;
        color: white;
        font: 14px/16.8px indivisible;

        .read_more {
          display: none;
          color: white;
          background-color: rgba(0, 0, 0, 0.1);
          text-transform: uppercase;
          font: 800 16px/16px indivisible;
          padding: 10px;
          margin-top: 20px;
          border-radius: 3px;
          @include trans(background-color, 0.5s, ease, 0s);
          @include breakpoint($triptych-collapse) {
            display: block;
          }
        }
      }

      &:hover {
        @include trans(background-color, 0.2s, ease, 0s);

        .read_more {
          background-color: $black_87;
          @include trans(background-color, 0.5s, ease, 0s);
        }
      }

      h2 {
        text-align: center;
        color: white;
        font: 48px/48px indivisible;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }

  #block-block-2 {
    background: $teal_1 image-url('panel-design.png') center center/1022px 547.5px no-repeat;
    margin-right: grid-block-margin();
    @include breakpoint($triptych-collapse) {
      margin-right: 0;
    }

    &:hover {
      background-color: $teal_2;
    }
  }

  #block-block-3 {
    background: $green_1 image-url('panel-music.png') center center/1377px 804px no-repeat;
    margin-left: grid-block-margin();
    @include breakpoint($triptych-collapse) {
      margin-left: 0;
    }

    &:hover {
      background-color: $green_2;
    }
  }

  #block-block-4 {
    background-color: $blue_1;
    margin-right: grid-block-margin();
    @include breakpoint($triptych-collapse) {
      margin-right: 0;
    }

    h2::before {
      background: image-url('panel_video.png') center center no-repeat;
      background-size: 112px 60.5px;
    }

    &:hover {
      background-color: $blue_2;
    }
  }

  #block-block-5 {
    @include grid-block(12, 12, no-butt);
    background: image-url('iMac2_00001.jpg') center center no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 56.25%;
    overflow: visible;
    position: relative;
    @include breakpoint($triptych-collapse) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    @include breakpoint($front-course-block-collapse2) {
      background-image: none;
      background-color: $yellow_0;
      height: auto;
      padding: 24px 60px;
    }

    h2 {
      font: 300 72px/72px indivisible;
      color: white;
      position: absolute;
      right: 110px;
      top: 150px;
      width: 270px;
      text-align: center;
      @include breakpoint($front-course-block-collapse1) {
        width: 180px;
        font-size: 48px;
        line-height: 48px;
        right: 60px;
        top: 80px;
      }
      @include breakpoint($front-course-block-collapse2) {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
      }
    }

    .content {
      color: $black_80;
      text-align: center;
      font: 14px/16.8px indivisible;
      position: absolute;
      right: 110px;
      top: 240px;
      width: 270px;
      text-align: center;
      @include breakpoint($front-course-block-collapse1) {
        width: 180px;
        right: 60px;
        top: 140px;
      }
      @include breakpoint($front-course-block-collapse2) {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
      }
    }

    // Read More link
    a {
      display: block;
      background-color: $black_87;
      color: white;
      padding: 10px;
      margin-top: 24px;
      border-radius: 3px;
      font: 800 16px/16px indivisible;
      text-transform: uppercase;
      @include trans(background-color, 0.5s, ease, 0s);
      @include breakpoint($triptych-collapse) {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:hover {
        background-color: $green_1;
        @include trans(background-color, 0.2s, ease, 0s);
      }
    }
  }

  footer.site {
    margin-top: 0;
  }
}
