$doc_width: 1322px;
$gutter_width: 22px;

// Make a top-level block.
@mixin grid-block($num_columns, $total_columns, $butting) {
  // Butting can be:
  // no-butt
  // butt-left
  // butt-right
  // butt-both

  @if $num_columns == 0 { // Set $num_columns = 0 to get a block with an unspecified width.
    // Calculate margin width as a percentage.
    $block_container_padding_px: $gutter_width / 2;
    $block_container_width_as_self_px: $doc_width;
    $block_container_width_as_parent_px: $block_container_width_as_self_px - 2 * $block_container_padding_px;
    $margin_width_px: $gutter_width / 2;
    $margin_width_pct: $margin_width_px / $block_container_width_as_parent_px * 100%;

    // Determine which margins are set to 0 based on butting.
    $margin_top: 0;
    $margin_bottom: 0;
    $margin_right: 0;
    $margin_left: 0;
    @if $butting == no-butt or $butting == butt-left {
      $margin_right: $margin_width_pct;
    }
    @if $butting == no-butt or $butting == butt-right {
      $margin_left: $margin_width_pct;
    }
    // Output styles.
    float: left;
    margin: $margin_top $margin_right $margin_bottom $margin_left;
  } @else {
    $block_container_padding_px: $gutter_width / 2;
    $block_container_width_as_self_px: $doc_width;
    $block_container_width_as_parent_px: $block_container_width_as_self_px - 2 * $block_container_padding_px;
    $column_width_px: 0px; // Initialize for SASS scope.
    $column_width_pct: 0%; // Initialize for SASS scope.

    // Simplest case; short-circuit.
    @if $butting == butt-both {
      $column_width_px: ($block_container_width_as_parent_px / $total_columns) * $num_columns;
      $column_width_pct: $column_width_px / $block_container_width_as_parent_px * 100%;
      float: left;
      /* GRID: #{$num_columns}/#{$total_columns} cols */
      width: $column_width_pct;
      /* GRID: Butting: #{$butting} */
      margin: 0 0 0 0;
    } @else { // Other cases.
      @if $butting == no-butt {
        $column_width_px: ($block_container_width_as_parent_px / $total_columns - $gutter_width) * $num_columns + $gutter_width * ($num_columns - 1);
        $column_width_pct: $column_width_px / $block_container_width_as_parent_px * 100%;
      }
      @if $butting == butt-left {
        $column_width_px: (($block_container_width_as_parent_px / $total_columns) - ($gutter_width / 2)) * $num_columns + ($gutter_width / 2) * ($num_columns - 1);
        $column_width_pct: $column_width_px / $block_container_width_as_parent_px * 100%;
      }
      @if $butting == butt-right {
        $column_width_px: (($block_container_width_as_parent_px / $total_columns) - ($gutter_width / 2)) * $num_columns + ($gutter_width / 2) * ($num_columns - 1);
        $column_width_pct: $column_width_px / $block_container_width_as_parent_px * 100%;
      }

      $margin_width_px: $gutter_width / 2;
      $margin_width_pct: $margin_width_px / $block_container_width_as_parent_px * 100%;

      $margin_top: 0;
      $margin_bottom: 0;
      $margin_right: 0;
      $margin_left: 0;
      @if $butting == no-butt or $butting == butt-left {
        $margin_right: $margin_width_pct;
      }
      @if $butting == no-butt or $butting == butt-right {
        $margin_left: $margin_width_pct;
      }

      float: left;
      /* GRID: #{$num_columns}/#{$total_columns} cols */
      width: $column_width_pct;
      /* GRID: Butting: #{$butting} */
      margin: $margin_top $margin_right $margin_bottom $margin_left;
    }
  }
}

// Return only the left/right margin width (%) for a block without adding all
// the block-related styles.
@function grid-block-margin() {
  // Calculate margin width as a percentage.
  $block_container_padding_px: $gutter_width / 2;
  $block_container_width_as_self_px: $doc_width;
  $block_container_width_as_parent_px: $block_container_width_as_self_px - 2 * $block_container_padding_px;
  $margin_width_px: $gutter_width / 2;
  $margin_width_pct: $margin_width_px / $block_container_width_as_parent_px * 100%;

  @return $margin_width_pct;
}

// Make a block that lives inside another block (top-level or otherwise, I think.)
@mixin grid-inner-block($num_columns_outer, $total_columns_outer, $num_columns_inner) {
  $outer_block_container_padding_px: $gutter_width / 2;
  $outer_block_container_width_as_self_px: $doc_width;
  $outer_block_container_width_as_parent_px: $outer_block_container_width_as_self_px - 2 * $outer_block_container_padding_px;
  $outer_column_width_px: ($outer_block_container_width_as_parent_px/$total_columns_outer - $gutter_width) * $num_columns_outer + $gutter_width * ($num_columns_outer - 1);

  $inner_block_container_width_as_self_px: $outer_column_width_px;
  $inner_block_container_padding_px: 0;
  $inner_block_container_width_as_parent_px: $inner_block_container_width_as_self_px - 2 * $inner_block_container_padding_px;
  $inner_column_width_px: ($outer_column_width_px - $gutter_width * ($num_columns_outer - 1)) / $num_columns_outer * $num_columns_inner + $gutter_width * ($num_columns_inner - 1);
  $inner_column_width_pct: $inner_column_width_px / $inner_block_container_width_as_parent_px * 100%;
  $inner_margin_width_px: $gutter_width / 2;
  $inner_margin_width_pct: $inner_margin_width_px / $inner_block_container_width_as_parent_px * 100%;

  $blocks_per_row: floor($num_columns_outer / $num_columns_inner);

  float: left;
  /* Inner block: #{$num_columns_inner} cols within #{$num_columns_outer}/#{$total_columns_outer} block */
  width: $inner_column_width_pct;
  margin: 0 $inner_margin_width_pct;
  &:nth-child(#{$blocks_per_row}n + 1) {
    margin-left: 0;
    clear: both;
  }
  &:nth-child(#{$blocks_per_row}n) {
    margin-right: 0;
  }
}

.width_limiter {
  max-width: $doc_width;
  margin: 0 auto;
  padding: 0;
}

.block_container {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0 $gutter_width / 2 / $doc_width * 100%;
  overflow: hidden;

  .block_container {
    padding: 0;
  }
}

.block {
  float: left;
}

