//MODULAR SCALE:
//11
//18
//29
//47
//75
//122
//197
//319
#toolbar {
  box-shadow: none;

  * {
    font-weight: 600;
    font-family: indivisible;
    font-size: 11px !important;
    color: white;
  }
}

::selection {
  background: $black_60; /* Safari */
  color: white;
}

::-moz-selection {
  background: $black_60; /* Firefox */
  color: white;
}

p, li {
  a {
    &:link, &:visited {
      color: $green_1;
    }

    &:hover, &:active {
      color: $green_0;
    }
  }
}

input[type=text],
input[type=url],
input[type=number],
input[type=tel],
input[type=color],
input[type=email],
input[type=password],
textarea,
select {
  font: 400 13px/20px museo-slab;
  height: 29px;
  width: 50%;
  padding: 4px 7px;
  color: $black_87;
  border: solid 1px $black_20;
  @include trans(border-color, 0.5s, ease, 0s);
  @include breakpoint($b540) {
    width: 100% !important;
  }

  &:hover {
    border-color: $black_10;
    @include trans-duration(0.2s);
  }
}

.form-item {
  input.error,
  textarea.error,
  select.error {
    border: 2px solid $yellow_0;
  }

  .description {
    font: italic 400 10px/22px museo-slab;
    color: $black_40;
  }
}

label {
  font: 700 13px/22px indivisible;
  color: $black_87;
  text-transform: uppercase;

  &.option {
    font: 400 13px/13px museo-slab;
    text-transform: none;
    vertical-align: middle;
  }
}

.region-content {
  font: 400 16px/24px museo-slab;
  color: $black_87;
}

header {
  &.site {
    height: 106px;
    background-color: $black_87;
    @include breakpoint($main-nav-collapse) {
      height: 159px;
      background-color: $black_87;
    }
    @include breakpoint($main-nav-collapse) {
      height: 123px;
    }

    .width_limiter {
      position: relative;
    }
  }

  .logo {
    @include grid-block(12, 12, no-butt);
    text-align: center;
    height: 70px;
    line-height: 70px;

    a {
      display: inline-block;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

h1 {
  font: 200 36px/40px indivisible;
  letter-spacing: -0.04em;
  color: $black_40;
  margin-bottom: 29px;
}

h2 {
  font: 600 24px/30px indivisible;
  color: $black_40;
  margin-bottom: 7px;
}

.header_menu {
  @include breakpoint($main-nav-collapse) {
    display: none;
  }
}

nav {
  &.site {
    margin-top: -36px;
    @include breakpoint($main-nav-collapse) {
      margin-top: 0;
      padding: 0;
    }

    .block-menu-block {
      width: 100%;

      .menu-block-wrapper {
        .menu {
          display: flex;
          @include breakpoint($main-nav-collapse) {
            display: block;
          }
        }
      }
    }

    li {
      // This, plus the table display options on the outer elements, makes a
      // horizontal menu that will auto-size to accommodate any number of
      // elements.
      flex-grow: 1;
      position: relative;
      padding: 0;
      // The menu link colors are on a 4-color cycle that repeats if there are
      // more than 4 elements.
      a {
        display: block;
        width: 100%;
        height: 36px;
        font: 600 18px/36px indivisible;
        text-transform: uppercase;
        padding: 0 12px;
        @include trans(background-color, 0.5s, ease, 0s);

        &:hover {
          @include trans-duration(0.2s);

          &:after {
            @include trans-duration(0.2s);
            opacity: 0;
          }
        }

        &:after {
          position: absolute;
          display: block;
          content: ' ';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px;
          border-bottom-color: rgba(255, 255, 255, 0);
          border-left-color: rgba(255, 255, 255, 0);
          top: 0;
          right: 0;
          opacity: 1;
          @include trans(opacity, 0.5s, ease, 0s);
        }

        @include breakpoint($main-nav-hide-triangles) {
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          &:after {
            display: none;
          }
        }
      }

      &:nth-child(4n+1) {
        a {
          @include color-box-link(teal, color);
        }
      }

      &:nth-child(4n+2) {
        a {
          @include color-box-link(green, color);
        }
      }

      &:nth-child(4n+3) {
        a {
          @include color-box-link(yellow, color);
        }
      }

      &:nth-child(4n) {
        a {
          @include color-box-link(blue, color);
        }
      }
    }
  }

  &.user {
    @include grid-block(5, 12, no-butt);
    position: absolute;
    right: 0;
    margin-top: 13px;

    li {
      @include grid-inner-block(5, 12, 1);
      display: inline-block;
      float: right;
      height: 44px;
      @include breakpoint($main-nav-collapse) {
        @include grid-inner-block(12, 12, 2);
        float: none;
      }

      a {
        text-align: center;
        display: block;
        width: 100%;
        line-height: 8px;

        &.account {
          .icon {
            background-position: 0 -32px;
          }

          &:hover {
            .icon {
              background-position: 0 0;
            }
          }
        }

        &.cart {
          .icon {
            background-position: -32px -32px;
          }

          &:hover {
            .icon {
              background-position: -32px 0;
            }
          }
        }

        &.log_in_out {
          .icon {
            background-position: -64px -32px;
          }

          &:hover {
            .icon {
              background-position: -64px 0;
            }
          }
        }

        &.hamburger_menu_opener {
          display: none;
          cursor: pointer;
          @include breakpoint($main-nav-collapse) {
            display: block;
          }

          .icon {
            background-position: -96px -32px;
          }

          &:hover {
            .icon {
              background-position: -96px 0;
            }
          }
        }
      }
    }

    a:hover .title {
      color: white;
    }

    .title {
      font: 600 10px/10px indivisible;
      color: $black_40;
      text-transform: uppercase;
      display: inline-block;
    }

    .icon {
      height: 32px;
      width: 32px;
      background-image: image-url('user.png');
      background-repeat: no-repeat;
      background-size: 128px 64px;
      display: inline-block;
    }

    .downloads .icon {
      background: image-url('arrow_download_blink.gif') no-repeat 0 0;
      background-size: 32px 32px;
    }

    @include breakpoint($main-nav-collapse) {
      @include grid-block(12, 12, no-butt);
      position: relative;
      height: 44px;
      margin-top: 0;
      text-align: center;
    }
  }
}

.width_limiter.main {
  margin-top: 36px;

  .content_without_sidebar {
    @include grid-block(12, 12, no-butt);
  }

  .content_with_sidebar {
    @include grid-block(9, 12, no-butt);
    @include breakpoint($b720) {
      @include grid-block(12, 12, no-butt);
      margin-bottom: 29px;
    }
  }

  .sidebar_right {
    @include grid-block(3, 12, no-butt);
    @include breakpoint($b720) {
      @include grid-block(12, 12, no-butt);
    }
  }
}

#block-system-main {
  width: 100%;
  //margin-top: 36px;
}

.hidden {
  display: none;
}

.piece_title {
  font-style: italic;
}

div.status {
  background: $blue_3 image-url('message_checkmark.png') 9px center no-repeat;
  background-size: 29px 29px;
  border: none;
  color: $blue_0;
  font: 400 13px/16px indivisible;
  margin-bottom: 11px;

  a {
    text-decoration: underline;
  }
}

div.error {
  background: $yellow_2 image-url('message_x.png') 9px center no-repeat;
  background-size: 29px 29px;
  border: none;
  color: $black_87;
  font: 400 13px/16px indivisible;
  margin-bottom: 11px;
}

.form-submit,
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back,
.view-commerce-user-file-licenses .file-link a {
  background-color: $green_1;
  font: 600 16px/24px indivisible;
  color: white;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
  @include trans(background-color, 0.5s, ease, 0s);

  &[disabled] {
    background-color: $black_40;

    &:hover {
      background-color: $black_60;
    }
  }

  &:hover {
    background-color: $green_0;
    @include trans-duration(0.2s);
    color: white;
    text-decoration: none;
  }
}

.view-commerce-user-file-licenses {
  .file-link a {
    display: block;
  }

  td {
    height: 22px;
    font-size: 11px;
    line-height: 13px;
  }

  .views-field-status {
    text-align: center;
  }

  caption {
    padding-bottom: 11px;

    h3 {
      font: 700 13px/24px indivisible;
      color: $black_87;
      display: block;
      float: left;
    }

    .file-link {
      float: right;
    }
  }

  table {
    margin-bottom: 34px;
    width: 100%;
  }

  th {
    height: 22px;
    font-size: 10px;
    line-height: 22px;
  }
}

.button-operator {
  margin: 0 13px;
  font: 400 13px/13px indivisible;
}

fieldset {
  margin-top: 22px;
  font: 400 13px/13px museo-slab;
  color: $black_87;

  legend {
    margin-bottom: 11px;
  }

  &#edit-cart-contents {
    margin-top: 0;
  }
}

.fieldset-legend {
  font: 700 18px/18px indivisible;
  color: $black_87;
}

.terms-of-service {
  font: 400 13px/21px museo-slab;
}

em {
  font-style: italic;
}

table {
  th {
    background-color: $black_10;
    color: $black_40;
    font: 700 13px/15px indivisible;
    height: 29px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 13px;
  }

  th, td {
    border: 1px solid $black_20;
    vertical-align: middle;
  }

  td {
    padding: 4px 13px;
    background-color: white;
    color: #202020;
    font: 400 13px/15px indivisible;
    vertical-align: middle;
    height: 29px;

    &.active {
      background-color: $yellow_2;
    }
  }
}

.tooltip {
  color: $yellow_0;
  text-align: center;
  cursor: pointer;

  &.big_right {
    background: image-url("tooltip_big_right.png") no-repeat 0 0;
    background-size: 278px 224px;
    height: 112px;
    font: 400 13px/18px indivisible;
    /*Exact box edges are at 4px 22px 8px 6px.*/
    padding: 29px 47px 33px 31px;
    width: 278px;

    &:hover {
      background-position: 0 -112px;
    }

    &.filter {
      top: 44px;
      left: -278px;
      position: absolute;
    }
  }
}

footer.site {
  margin-top: 75px;
  padding: 29px 0 29px 0;
  background-color: $black_87;
  position: relative;
  width: 100%;
  @include breakpoint($b400) {
    padding: 18px 0;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 6px;
    @include breakpoint($b400) {
      font-weight: 800;
      font-size: 13px;
    }
  }

  .block.logo {
    @include grid-block(6, 12, no-butt);
    text-align: center;
    @include breakpoint($footer-collapse) {
      display: none;
    }

    a.aa_logo {
      background: image-url('logo_white.png') no-repeat 0 0;
      background-size: 150px 45px;
      display: inline-block;
      width: 150px;
      height: 45px;
    }
  }

  .block_container.social {
    margin-top: 36px;

    .right-shifter {
      height: 30px;
      @include grid-block(4, 12, no-butt);
      @include breakpoint($footer-collapse) {
        display: none;
      }
    }

    a {
      @include grid-block(1, 12, no-butt);
      height: 30px;
      color: transparent;
      font-size: 0;
      background-size: 30px 30px;
      background-position: center center;
      background-repeat: no-repeat;
      @include trans(opacity, 0.5s, ease, 0s);
      @include breakpoint($footer-collapse) {
        @include grid-block(3, 12, no-butt);
      }

      &.facebook {
        background-image: image-url('facebook.png');
      }

      &.instagram {
        background-image: image-url('instagram.png');
      }

      &.youtube {
        background-image: image-url('youtube.png');
      }

      &.pinterest {
        background-image: image-url('pinterest.png');
      }

      &:hover {
        opacity: 0.5;
        @include trans(opacity, 0.2s, ease, 0s);
      }
    }
  }

  .block-menu-block {
    @include grid-block(2, 12, no-butt);
    @include breakpoint($footer-collapse) {
      @include grid-block(3, 12, no-butt);
    }
  }

  .copyright {
    @include grid-block(12, 12, no-butt);
    text-align: center;
    font: 400 10px/12px indivisible;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $black_60;
    margin-top: 29px;
    @include breakpoint($b400) {
      font-size: 8px;
      line-height: 10px;
      margin-top: 18px;
    }
  }

  ul.menu li {
    font: 500 12px/14px indivisible;
    margin-bottom: 4px;
  }

  ul.menu li a {
    color: white;
  }
}

#block-menu-block-1 h2 {
  color: $teal_1;
}

#block-menu-block-2 h2 {
  color: $green_1;
}

#block-menu-block-3 h2 {
  color: $yellow_0;
}

#block-menu-block-4 h2 {
  color: $blue_0;
}

.node-faq {
  margin-bottom: 29px;
}

.contact-form textarea {
  height: 122px;
}

a {
  @include trans(color, 0.2s, ease, 0s);
}

a.banner {
  @include grid-block(1, 1, no-butt);
  height: 418px;
  background: image-url('banner_music.png') no-repeat center center;
  background-size: auto 100%;
  margin-bottom: 18px;
  @include breakpoint($b900) {
    height: 300px;
    background: image-url('banner_music_narrow.png') no-repeat center center;
    background-size: auto 100%;
  }
}

#node-32 .field-item {
  display: block;
}

a.section_button {
  @include grid-block(3, 12, no-butt);
  background-color: $black_87;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font: 800 16px/16px indivisible;
  text-transform: uppercase;
  text-align: center;
  padding: 11px;
  letter-spacing: 0.07em;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;

  &:hover {
    @include trans-duration(0.2s);
  }

  @include breakpoint($b900) {
    letter-spacing: 0;
  }
  @include breakpoint($b820) {
    font-size: 13px;
    line-height: 13px;
  }
  @include breakpoint($b720) {
    @include grid-block(4, 12, no-butt);
    &.col1 {
      @include grid-block(12, 12, no-butt);
      margin-bottom: 11px;
    }
  }
  @include breakpoint($b400) {
    font-size: 12px;
  }

  &:nth-child(4n+1) {
    color: $teal_1;
    @include color-box-link(teal, black);
  }

  &:nth-child(4n+2) {
    color: $green_1;
    @include color-box-link(green, black);
  }

  &:nth-child(4n+3) {
    color: $yellow_0;
    @include color-box-link(yellow, black);
  }

  &:nth-child(4n) {
    color: $blue_0;
    @include color-box-link(blue, black);
  }
}

#block-views-news-block {
  @include grid-block(6, 12, no-butt);
  @include breakpoint($b540) {
    @include grid-block(12, 12, no-butt);
  }

  & > h2 {
    font: 600 29px/35px indivisible;
    color: $black_40;
    margin-bottom: 11px;
    margin-top: 29px;
  }
}

.submitted {
  color: $black_40;
  font: italic 400 11px/18px museo-slab;
  margin-bottom: 0;
}

.view-news {
  .views-row {
    border-bottom: solid 1px $black_10;
  }

  .node h2 a {
    color: $teal_1;
  }
}

ul {
  &.inline .node-readmore {
    padding: 0;
    font: italic 400 10px/10px museo-slab;

    &:after {
      content: '...';
    }
  }

  &.menu {
    list-style: none;

    li {
      margin: 0;
      list-style-image: none;
      list-style-type: none;
    }
  }

  &.primary li.active a {
    background-color: $blue_0;
    border: none;
    font-weight: 700;
  }

  &.tabs {
    font: 400 13px/29px indivisible;
    color: $black_87;
    margin-bottom: 34px !important;
    @include breakpoint($b400) {
      margin: 0;
      padding: 0;
      border: none;
    }

    li {
      display: inline-block;
      vertical-align: bottom;
      @include breakpoint($b400) {
        display: block;
        margin-bottom: 1px;
      }

      a {
        color: white;
        background-color: $blue_1;
        border: none;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        padding: 5px 16px;
        display: block;
        @include trans(background-color, 0.5s, ease, 0s);
        @include breakpoint($b400) {
          margin: 0;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
        }

        &:hover {
          background-color: $blue_0;
          @include trans-duration(0.2s);
        }
      }
    }
  }
}

#block-views-exp-music-catalog-page {
  display: none;
  @include breakpoint($b720) {
    width: 100%;
  }
}

p.notice {
  background-color: $green_2;
  border: 1px solid $black_10;
  color: $black_87;
  display: block;
  font: 400 13px/16px indivisible;
  margin-top: 22px;
  padding: 10px;
  text-align: center;
  float: left;

  &.teal {
    background-color: $teal_2;
  }

  &.yellow {
    background-color: $yellow_2;
  }

  &.green {
    background-color: $green_2;
  }

  &.blue {
    background-color: $blue_2;
  }
}

.filter-wrapper {
  .form-item {
    padding-left: 0;
  }

  select {
    width: auto;
  }
}

.filter-guidelines, .filter-help {
  padding: 0;
}

#comments {
  .comment {
    border: solid 1px $black_10;
    margin-bottom: 12px;
    padding: 12px;
    position: relative;
    @include trans(background-color, 0.5s, ease, 0s);

    &::before {
      content: ' ';
      width: 0;
      height: 0;
      border-width: 6px;
      border-color: $green_1 transparent transparent $green_1;
      border-style: solid;
      top: 0;
      left: 0;
      position: absolute;
    }

    &:hover {
      background-color: $green_4;
      @include trans(background-color, 0.2s, ease, 0s);
    }

    .new {
      display: none;
    }

    h3 {
      font-weight: 700;
    }

    .field-name-comment-body {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .comment-new {
    background-color: $yellow_4;

    &::before {
      border-color: $yellow_1 transparent transparent $yellow_1;
    }

    &:hover {
      background-color: $yellow_3;
    }
  }

  ul.inline li {
    padding: 0;
    margin-right: 6px;

    a {
      font-size: 14px;
      line-height: 18px;
      color: $green_1;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .submitted {
    .permalink {
      &::after {
        // Non-breaking spaces surround bullet.
        content: '\00a0\00a0\2022\00a0\00a0';
      }
    }
  }
}

ul.inline li.comment-add {
  padding: 0;

  a {
    color: $green_1;

    &:hover {
      text-decoration: underline;
    }
  }
}
