$inputs: 'input[type="text"], input[type="url"], input[type="number"], input[type="tel"], input[type="color"], input[type="email"], textarea, select';

.contact-form {
  background-color: white;
  header.site {
    height: 70px;
  }
  #{$inputs} {
    width: 100%;
    border: solid 2px transparent;
    background-color: $green_3;
    @include trans(border-color, 0.5s, ease, 0s);
    &:hover {
      border-color: rgba(255, 255, 255, 0.8);
      @include trans-duration(0.2s);
    }
  }
  h1 {
    color: $green_1;
  }
  .form-submit {
    height: 29px;
  }
  .field-name-body {
    margin-bottom: 29px;
  }
  label {
    color: $black_40;
    display: block;
    text-align: left;
    width: 100%;
  }
  h1 {
    text-align: center;
    margin-top: 75px;
    @include breakpoint($b720) {
      margin-top: 40px;

    }
  }
  .node {
    font: 400 18px/29px museo-slab;
    color: $black_40;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    @include breakpoint($b720) {
      width: 80%;
    }
  }
  .webform-client-form {
    text-align: left;
    display: inline-block;
    #edit-actions {
      text-align: right;
    }
    .form-type-checkbox {
      label {
        display: inline;
      }
    }
  }
}

.page-node-16 {
  #{$inputs} {
    background-color: $teal_3;
  }
  h1 {
    color: $teal_1;
  }
  .node {
    .form-submit {
      background-color: $teal_1;
      &:hover {
        background-color: $teal_0;
      }
    }
  }
}

.page-node-19 {
  #{$inputs} {
    background-color: $green_3;
  }
  h1 {
    color: $green_1;
  }
  .node {
    .form-submit {
      background-color: $green_1;
      &:hover {
        background-color: $green_0;
      }
    }
  }
}

.page-node-18 {
  #{$inputs} {
    background-color: $yellow_2;
  }
  h1 {
    color: $yellow_0;
  }
  .node {
    .form-submit {
      background-color: $yellow_0;
      &:hover {
        background-color: $yellow_1;
      }
    }
  }
}

.page-node-133 {
  #{$inputs} {
    background-color: $blue_3;
  }
  h1 {
    color: $blue_1;
  }
  .node {
    .form-submit {
      background-color: $blue_1;
      &:hover {
        background-color: $blue_0;
      }
    }
  }
}

.page-node-32 h1 {
  display: none;
}
