@media screen and (max-width: 540px) {
  .front .col {
    width: 50%;
    height: 42.5%;
  }
  header.site {
    height: 198px;
    background-color: $black_87;
  }
  nav.site {
    margin-top: -72px;
  }
  nav.site li {
    width: 50%;
  }
}
