@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    background-size: 16px 16px;
    &.pdf {
      background-image: image-url('pdficon_large.png');
    }
  }
  .view-music-catalog .views-row .teaser {
    height: 47px;
  }
}
