.field {
  p {
    margin-bottom: 10px;
  }

  blockquote {
    font-weight: 700;
    margin-left: 29px;
    margin-bottom: 10px;
  }
}

.field-name-field-credits {
  font: italic 400 13px/18px museo-slab;
  color: $black_40;
  margin-bottom: 0;
}

.field-label,
.field-items {
  float: none;
}

.field-name-field-category,
.field-name-field-composition-date,
.field-name-field-duration,
.field-name-field-ensembles,
.field-name-field-ensemble-size,
.field-name-field-instrumentation,
.field-name-field-languages,
.field-name-field-license,
.field-name-field-measures,
.field-name-field-score-last-updated,
.field-name-field-score-size {
  font: 700 13px/18px indivisible;
  color: $black_87;
  display: inline-block;
  vertical-align: middle;
  @include breakpoint($b720) {
    display: block;
    clear: both;
  }
}

.field-name-field-category:after,
.field-name-field-composition-date:after,
.field-name-field-duration:after,
.field-name-field-ensembles:after,
.field-name-field-ensemble-size:after,
.field-name-field-instrumentation:after,
.field-name-field-languages:after,
.field-name-field-score-last-updated:after,
.field-name-field-score-size:after {
  content: '|';
  color: $black_40;
  margin: 0 10px;
  @include breakpoint($b720) {
    content: '';
  }
}

.field-name-field-composition-date,
.field-name-field-license,
.field-name-field-score-last-updated {
  color: $black_40;
}

.field-name-field-category .field-label,
.field-name-field-composition-date .field-label,
.field-name-field-duration .field-label,
.field-name-field-ensembles .field-label,
.field-name-field-ensemble-size .field-label,
.field-name-field-instrumentation .field-label,
.field-name-field-languages .field-label,
.field-name-field-license .field-label,
.field-name-field-measures .field-label,
.field-name-field-score-last-updated .field-label,
.field-name-field-score-size .field-label {
  display: inline;
  font-weight: 400;
}

.form-type-bef-checkbox {
  margin-left: 14px;
  @include breakpoint($b720) {
    padding: 8px 0;
    margin-left: 0;
    border-top: solid 1px $black_10;
    &:first-child {
      border-top: none;
    }
  }

  &.section_header {
    margin-left: 0;
    cursor: pointer;

    &:before {
      content: ' ';
      width: 12px;
      height: 12px;
      background: image-url('dropdown_small.svg') 0 0/24px 24px no-repeat;
      display: inline-block;
      vertical-align: middle;
      line-height: 18px;
      margin-left: 14px;
      margin-right: 5px;
      @include breakpoint($b720) {
        margin-left: 0;
      }
    }

    &.open:before {
      background-position: -12px 0;
    }
  }
}

.views-exposed-form {
  .form-type-bef-checkbox {
    label {
      color: $teal_1;
      font-weight: 400;
      @include trans(color, 0.4s, ease, 0s);
      cursor: pointer;

      &:hover {
        color: $teal_2;
        @include trans-duration(0s);
      }

      &.section_header label {
        font-weight: 700;
      }
    }

    span.checkbox {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border: solid 1px $teal_3;
      background-color: white;
      cursor: pointer;
      transition: background-color 0.4s ease 0s, border-color 0.4s ease 0s;
      @include breakpoint($b720) {
        height: 25px;
        vertical-align: middle;
        width: 25px;
        margin-right: 6px;
      }

      &.checked {
        background-color: $teal_1;
        border-color: $teal_1;

        &:hover {
          background-color: $teal_2;
          border-color: $teal_2;
        }
      }

      &:hover,
      &.hover {
        border-color: $teal_2;
        background-color: $teal_2;
        @include trans-duration(0s);
      }
    }
  }

  label {
    font: 700 13px/21px indivisible;
    color: $black_87;
  }

  .views-exposed-widget {
    float: none;
    padding: 0;
    margin-bottom: 11px;
  }
}

.pdf_notice {
  margin-top: 22px;
  background-color: $blue_2;
  color: $blue_0;
  font: 700 13px/21px indivisible;
  text-align: center;
  padding: 12px;

  a {
    text-decoration: underline;
  }
}

.field-name-field-preview-audio audio {
  display: none;
  height: 0;
}

.field-title {
  display: inline-block;
}

.page-node {
  .field-name-field-ensembles-duplicate {
    display: none;
  }

  .field-name-field-preview-audio,
  .field-name-field-preview-image {
    display: inline-block;
    vertical-align: middle;
  }

  .field-name-field-preview-audio {
    margin-left: 6px;

    .play_button {
      display: inline-block;
      background: $green_1 image-url('speaker_big.png') 0 0 no-repeat;
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      cursor: pointer;
      @include trans(background-color, 0.5s, ease, 0s);

      &.playing {
        background-color: $yellow_0;
      }

      &:hover {
        background-color: $green_0;
        @include trans-duration(0.2s);
      }
    }
  }

  a.colorbox.loupe {
    display: inline-block;
    background: $blue_1 image-url('loupe_big.png') 0 0 no-repeat;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    cursor: pointer;
    @include trans(background-color, 0.5s, ease, 0s);

    &:hover {
      background-color: $blue_0;
      @include trans-duration(0.2s);
    }
  }
}

.view-music-catalog {
  @include comma-separated-field-items;

  .field-name-body {
    margin-top: 20px;
  }

  .field-name-field-preview-audio {
    .field-item {
      vertical-align: middle;

      .play_button {
        display: block;
        background: image-url('speaker.svg') 0 -24px no-repeat;
        width: 24px;
        height: 24px;
        background-size: 24px 96px;
        cursor: pointer;

        &.playing {
          background-position: 0 -72px;
        }

        &:hover {
          background-position: 0 -48px;
        }
      }
    }
  }

  a.info_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: image-url('info.svg') no-repeat 0 0;
    background-size: 24px 48px;
    background-position: 0 0;
    color: transparent;
    overflow: hidden;
    vertical-align: middle;

    &:hover {
      background-position: 0 -24px;
    }
  }

  a.colorbox.loupe {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: image-url('loupe.svg') no-repeat 0 0;
    background-size: 24px 48px;
    background-position: 0 0;
    vertical-align: middle;

    &:hover {
      background-position: 0 -24px;
    }
  }

  .field.field-name-field-ensembles-duplicate {
    position: absolute;
    right: 6px;
    top: 0;
    font: 700 13px/48px indivisible;
    color: $black_40;
    @include breakpoint($b720) {
      line-height: 11px;
      position: relative;
      right: 0;
    }
  }

  .field-name-field-preview-audio,
  .field-name-field-preview-image {
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
  }

  .field-name-field-preview-image {
    @include breakpoint($b720) {
      margin-left: 0;
    }
  }

  .views-row {
    .teaser {
      border-bottom: solid 1px $black_10;
      height: 60px;
      display: table;
      width: 100%;
      background-color: white;
      cursor: pointer;
      position: relative;
      @include trans(background-color, 0.5s, ease, 0s);

      .plus_button {
        display: block;
        position: absolute;
        width: 60px;
        height: 100%;
        background: $yellow_2 image-url('plus_minus.png') no-repeat 0 center;
        background-size: 120px 60px;
        @include trans(background-color, 0.5s, ease, 0s);
      }

      &:hover {
        background-color: $yellow_2;
        @include trans-duration(0.2s);

        .plus_button {
          background-color: $yellow_1;
          @include trans-duration(0.2s);
        }
      }

      .teaser_content {
        padding-left: 80px;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .content_rollout {
      padding-left: 80px;
      padding-top: 20px;
      display: none;
      @include breakpoint($b720) {
        padding-left: 0;
      }
    }

    &.expanded {
      .plus_button {
        background-position: -60px center;
      }

      .teaser {
        border-bottom: none;
      }

      .content_rollout {
        border-bottom: solid 1px $black_10;
      }
    }

    h2 {
      font: 600 18px/22px indivisible;
      margin-bottom: 0;
      display: inline-block;
      color: black;
    }
  }
}

.node-music-product {
  @include comma-separated-field-items;

  .field-name-body {
    margin-top: 20px;
  }

  .content_rollout {
    padding-top: 20px;
  }
}

.field-name-field-preview-image {
  .field-item {
    display: none;

    &:first-child {
      display: inline-block;
    }

    &:after {
      content: '';
    }
  }
}

#cboxTitle {
  font: 400 16px/38px indivisible;
  color: $black_87;
}

#cboxCurrent {
  color: $black_40;
  font: 400 16px/38px indivisible;
  bottom: -38px;
  border-left-color: $black_10;
}

.field-name-field-is-one-of-multiple-arrange {
  display: block;
  font: 400 12px/14px indivisible;
  border: solid 1px $black_10;
  color: $black_87;
  padding: 5px;
  margin-top: 22px;
  background-color: $green_2;
  text-align: center;
}

.view-empty {
  font: italic 400 13px/16px museo-slab;
  color: $black_87;
}

.field-name-field-add-to-cart .field-item,
.view-music-add-to-cart-form table {
  width: 100%;
}

th.views-field-field-asset,
td.views-field-field-asset {
  border-right: none;
  padding-right: 6px;
  width: 1px;
}

@include breakpoint($b720) {
  th.views-field-field-asset,
  td.views-field-field-asset,
  th.views-field-field-pages,
  td.views-field-field-pages,
  th.views-field-commerce-file-line-item-files,
  td.views-field-commerce-file-line-item-files,
  th.views-field-commerce-unit-price,
  td.views-field-commerce-unit-price {
    display: none;
  }
}

td.views-field-title-1 {
  border-left: none;
  padding-left: 6px;
}

td {
  &.views-field-commerce-price,
  &.views-field-add-to-cart-quantity,
  &.views-field-field-pages {
    text-align: right;
    width: 25%;
  }

  &.views-field-add-to-cart-quantity {
    padding: 0;
    @include trans(background-color, 0.5s, ease, 0s);
  }

  &.views-field-title-1 {
    font-weight: 700;
    text-align: left;
    width: 50%;
  }
}

.view-music-add-to-cart-form {
  .form-actions {
    text-align: right;
    margin: 29px 0;
  }

  .form-type-textfield {
    height: 100%;
  }

  .form-text {
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0);
    font: 400 13px/29px indivisible;
    color: $black_87;
    text-align: right;
    padding: 0 13px;
    background-color: transparent;

    &:hover {
      border: solid 1px rgba(0, 0, 0, 0);
    }
  }

  input.form-text {
    font-weight: 700;
  }

  table {
    margin-top: 40px;
  }

  th, td {
    border: solid 1px $black_20;
  }

  th {
    background-color: $black_10;
    text-align: center;
    height: 29px;
    font: 700 13px/15px indivisible;
    color: $black_40;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 13px;
  }

  td {
    font: 400 13px/15px indivisible;
    color: $black_87;
    background-color: white;
    vertical-align: middle;
    height: 29px;
    padding: 4px 13px;

    input {
      outline: none;
    }

    &.views-field-add-to-cart-quantity {
      background-color: $yellow_2;

      &:hover {
        background-color: $yellow_1;
        @include trans-duration(0.2s);
      }
    }
  }
}

.views-field-field-asset {
  vertical-align: middle;
}

.icon {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;

  &.pdf {
    background-image: image-url('pdficon_small.png');
  }
}

#node-21 img {
  width: 227px;
  height: 220px;
}

#node-22 img {
  width: 180px;
  height: 220px;
}

#block-block-7 {
  background-color: #e05500;
  margin: 12px 0 0 0;
  padding: 12px;
  border-radius: 12px;

  h2 {
    color: white;
  }

  p {
    color: white;
    font: 400 18px/24px indivisible;
  }

  .email {
    display: inline-block;
    width: 166px;
    height: 20px;
    background: url('../../images/email.png') center center/165.5px 20px no-repeat;
    vertical-align: middle;
  }
}