.view-branding-typography {
  .views-row {
    @include grid-inner-block(12, 12, 2);
    margin-bottom: 24px;
    @include breakpoint($b1024) {
      @include grid-inner-block(12, 12, 4);
      margin-bottom: 12px;
    }
    @include breakpoint($b540) {
      @include grid-inner-block(12, 12, 12);
      margin-bottom: 36px;
    }

    .views-field-field-video {
      // The video_wrapper class is added in template.php. Its purpose is to
      // lock the aspect ratio of its content to 1:1.
      .video_wrapper {
        display: block;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        text-align: center;
        position: relative;
        // Within the wrapper, the a tag is stretched to 100% of the parent's
        // width/height using top/bottom/left/right.
        a {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          // Then we can use the a tag's dimensions to base the image's height
          // on.
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }

    a {
      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }

      @include trans(opacity, 0.2s, ease, 0s);

      &:hover {
        opacity: 0.5;
        @include trans-duration(0.2s);
      }
    }
  }
}

.portfolio-page {
  background-color: $black_10;

  header {
    .logo {
      @include grid-block(6, 12, no-butt);
      text-align: left;
      height: 48px;
      line-height: 48px;
      @include breakpoint($portfolio-menu-collapse) {
        @include grid-block(12, 12, no-butt);
        text-align: center;
      }
    }

    &.site {
      height: 48px;
      margin-bottom: 48px;
    }
  }

  .region-header {
    @include grid-block(6, 12, no-butt);
    clear: none;
    @include breakpoint($portfolio-menu-collapse) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      text-align: center;
      margin-bottom: 36px;
    }

    .block {
      float: right;
      @include breakpoint($portfolio-menu-collapse) {
        float: none;
      }
    }
  }

  .menu-name-menu-aa-nav {
    @include breakpoint($portfolio-menu-collapse) {
      width: 100%;
      ul.menu {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    li {
      float: right;
      width: auto;
      padding: 0;
      @include breakpoint($portfolio-menu-collapse) {
        float: none;
        flex-grow: 1;
        background-color: $black_87;
        text-align: center;
      }

      a {
        height: 48px;
        font: 300 16px/48px indivisible;
        padding: 0 0 0 24px;
        @include breakpoint($portfolio-menu-collapse) {
          padding: 0;
        }
        @include breakpoint($b400) {
          font-size: 12px;
        }
        @include trans(color, 0.2s, ease, 0s);
        color: white;
        background-color: transparent;

        &:hover {
          color: $green_1;
        }

        &.active {
          font-weight: 800;
          color: white;
        }

        &:after {
          border: none;
        }
      }
    }
  }

  a.col1:hover {
    background-color: transparent;
    color: $teal_1;
  }

  a.col2:hover {
    background-color: transparent;
    color: $green_1;
  }

  a.col3:hover {
    background-color: transparent;
    color: $yellow_1;
  }

  a.col4:hover {
    background-color: transparent;
    color: $blue_1;
  }

  h1 {
    font: 300 36px/36px indivisible;
    text-transform: uppercase;
    @include breakpoint($center-portfolio-layout) {
      text-align: center;
    }
  }

  .block-views h2 {
    font: 400 19px/22px museo-slab;
    margin-bottom: 24px;
    color: #b0b0b0;
    @include breakpoint($center-portfolio-layout) {
      text-align: center;
    }
  }

  #cboxContent {
    background-color: $black_10;
  }

  .field-name-field-image, .field-name-field-video {
    background-color: $black_20;
    text-align: center;
  }

  .field-name-field-image img {
    vertical-align: top;
    width: 750px;
    height: auto;
    @include breakpoint($b850) {
      width: 470px;
    }
    @include breakpoint($b540) {
      width: 260px;
    }
  }

  #colorbox {
    .field-name-body {
      width: 750px;
      font: 400 16px/24px indivisible;
      @include breakpoint($center-portfolio-layout) {
        width: 100%;
        padding: 0 24px;
      }
    }
  }

  .field-name-body {
    margin: 27px auto;
    color: $black_87;
    @include breakpoint($center-portfolio-layout) {
      width: 470px;
      text-align: center;
    }
    @include breakpoint($b540) {
      width: 260px;
    }
  }

  #cboxContent h2 {
    margin: 0;
    text-align: center;
    font: 300 36px/36px indivisible;
    color: $black_40;
    text-transform: uppercase;
    background-color: black;
    padding: 20px 0;
    @include breakpoint($b850) {
      font-size: 30px;
      line-height: 30px;
    }
    @include breakpoint($b540) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

#block-views-branding-typography-block,
#block-views-branding-typography-block-1,
#block-views-branding-typography-block-2,
#block-views-branding-typography-block-3,
#block-views-branding-typography-block-4,
#block-views-branding-typography-block-5,
#block-views-branding-typography-block-6 {
  width: 100%;
  margin-bottom: 36px;
}

#cboxClose {
  top: 5px;
  right: 5px;
}

div.contextual-links-wrapper {
  top: 5px;
  right: 50px;
}

.node-type-portfolio-item {
  .field-name-field-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.node-type-portfolio-video {
  .field-name-field-video {
    // Responsive videos
    .embedded-video {
      .player {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;

        iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
