//Define site colors, from darkest to lightest of several hues.
$yellow_0: #ffbc40;
$yellow_1: #ffdb80;
$yellow_2: #ffecb5;
$yellow_3: #fff6df;
$yellow_4: #fffbf2;

$green_0: #4d990f;
$green_1: #8dc63f;
$green_2: #bee17f;
$green_3: #e2f1cf;
$green_4: #f4f9ec;

$teal_0: #004744;
$teal_1: #0e8784;
$teal_2: #2fbab7;
$teal_3: #c3e1e0;
$teal_4: #e7f3f3;

$blue_0: #147da4;
$blue_1: #49b3cd;
$blue_2: #88d6e5;
$blue_3: #d1ecf2;
$blue_4: #edf7fa;

//Except grays; grays are defined in terms of percentage.
$black_87: #202020;
$black_80: #333333;
$black_60: #666666;
$black_40: #999999;
$black_30: #b3b3b3;
$black_20: #cccccc;
$black_10: #e6e6e6;

@function image-url($filename) {
  @return url('../../images/#{$filename}');
}

// Cross-browser transitions.
@mixin trans($property, $duration, $timing_function, $delay) {
  transition: $property $duration $timing_function $delay;
  -moz-transition: $property $duration $timing_function $delay;
  -webkit-transition: $property $duration $timing_function $delay;
}

@mixin trans-duration($duration) {
  transition-duration: $duration;
  -moz-transition-duration: $duration;
  -webkit-transition-duration: $duration;
}

@mixin comma-separated-field-items {
  .field-item {
    display: inline-block;
    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }
}

@mixin color-box-link($color_scheme, $style) {
  // Set $style to black or color.

  $background_color: #000000;
  $background_hover_color: #333333;
  $foreground_color: rgba(255, 255, 255, 0.7);

  @if $style == black {
    $background_color: $black_87;
    @if $color_scheme == teal {
      $background_hover_color: $teal_2;
      $foreground_color: $teal_1;
    }
    @if $color_scheme == green {
      $background_hover_color: $green_2;
      $foreground_color: $green_1;
    }
    @if $color_scheme == yellow {
      $background_hover_color: $yellow_1;
      $foreground_color: $yellow_0;
    }
    @if $color_scheme == blue {
      $background_hover_color: $blue_2;
      $foreground_color: $blue_1;
    }
  }
  @if $style == color {
    @if $color_scheme == teal {
      $background_color: $teal_1;
      $background_hover_color: $teal_2;
    }
    @if $color_scheme == green {
      $background_color: $green_1;
      $background_hover_color: $green_2;
    }
    @if $color_scheme == yellow {
      $background_color: $yellow_0;
      $background_hover_color: $yellow_1;
    }
    @if $color_scheme == blue {
      $background_color: $blue_1;
      $background_hover_color: $blue_2;
    }
  }

  background-color: $background_color;
  color: $foreground_color;
  &:hover {
    background-color: $background_hover_color;
  }
  &:after {
    border-top-color: $background_hover_color;
    border-right-color: $background_hover_color;
  }
}

// Set up breakpoints.
@import "breakpoint";
$portfolio-menu-collapse: "max-width: 1176px";
$center-portfolio-layout: "max-width: 850px";
$main-nav-hide-triangles: "max-width: 720px";
$main-nav-collapse: "max-width: 680px";
$triptych-collapse: "max-width: 720px";
$front-masthead-collapse: "max-width: 960px";
$front-course-block-collapse1: "max-width: 1100px";

$front-course-block-collapse2: "max-width: 720px";
$footer-collapse: "max-width: 540px";
$course-teaser-collapse1: "max-width: 1024px";
$course-teaser-collapse2: "max-width: 850px";
$course-teaser-collapse3: "max-width: 720px";
$course-node-collapse: "max-width: 500px";
$b1024: "max-width: 1024px";
$b900: "max-width: 900px";
$b850: "max-width: 850px";
$b820: "max-width: 820px";
$b720: "max-width: 720px";
$b540: "max-width: 540px";
$b400: "max-width: 400px";

@import "reset.scss";
@import "grid.scss";
@import "master.scss";
@import "front.scss";
@import "oneoffs.scss";
@import "view-music-catalog.scss";
@import "view-portfolios.scss";
@import "cart.scss";
@import "courses.scss";
//@import "retina.scss";
//@import "responsive.scss";
