body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  font-family: Manrope, sans-serif;
}

* {
  color: #424242;
}

.stripe {
  background-color: #2973b0;
  padding: 30px;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 800;
    color: white;
    margin-top: 10px;
  }

  h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 33px;
    font-weight: 300;
    color: white;
  }
}

.content {
  padding: 30px;
  text-align: center;

  p {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;

    b {
      font-weight: 800;
    }

    &.note {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  h2 {
    font-size: 42px;
    line-height: 48px;
    font-weight: 200;
    text-align: center;
  }

  .composers {
    max-width: 960px;
    margin: 0 auto 30px auto;
    background-color: white;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    gap: 60px;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .col {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }

      &:first-child {
        position: relative;

        &:after {
          content: ' ';
          display: block;
          width: 1px;
          background-color: #c0c0c0;
          position: absolute;
          right: -30px;
          top: 0;
          bottom: 0;
          @media screen and (max-width: 768px) {
            width: auto;
            top: auto;
            height: 1px;
            left: 0;
            right: 0;
            bottom: -30px;
          }
        }
      }

      h3 {
        margin: 0;
        font-weight: 800;
        font-size: 30px;
        line-height: 33px;
        color: #2973b0;
      }

      a {
        img {
          width: 100%;
        }

        &.aa {
          img {
            max-width: 340px;
          }
        }

        &.nh {
          img {
            max-width: 274px;
          }
        }
      }
    }
  }

  h4 {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-weight: 800;
    margin: 0;
  }

  ol, ul {
    display: inline-block;
    width: auto;
    text-align: left;
    margin-bottom: 0;

    li {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 18px;
      font-weight: 400;
    }
  }

  a {
    color: #2973b0;
    text-decoration: none;
  }
}

