@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

b, strong {
  font-weight: bold;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=text],
input[type=url],
input[type=number],
input[type=tel],
input[type=color],
input[type=email],
input[type=password],
input[type=submit],
button,
textarea,
select {
  -webkit-appearance: none;
  border-radius: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  clear: both;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.width_limiter {
  max-width: 1322px;
  margin: 0 auto;
  padding: 0;
}

.block_container {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0 0.8320726172%;
  overflow: hidden;
}
.block_container .block_container {
  padding: 0;
}

.block {
  float: left;
}

#toolbar {
  box-shadow: none;
}
#toolbar * {
  font-weight: 600;
  font-family: indivisible;
  font-size: 11px !important;
  color: white;
}

::selection {
  background: #666666;
  /* Safari */
  color: white;
}

::-moz-selection {
  background: #666666;
  /* Firefox */
  color: white;
}

p a:link, p a:visited, li a:link, li a:visited {
  color: #8dc63f;
}
p a:hover, p a:active, li a:hover, li a:active {
  color: #4d990f;
}

input[type=text],
input[type=url],
input[type=number],
input[type=tel],
input[type=color],
input[type=email],
input[type=password],
textarea,
select {
  font: 400 13px/20px museo-slab;
  height: 29px;
  width: 50%;
  padding: 4px 7px;
  color: #202020;
  border: solid 1px #cccccc;
  transition: border-color 0.5s ease 0s;
  -moz-transition: border-color 0.5s ease 0s;
  -webkit-transition: border-color 0.5s ease 0s;
}
@media (max-width: 540px) {
  input[type=text],
input[type=url],
input[type=number],
input[type=tel],
input[type=color],
input[type=email],
input[type=password],
textarea,
select {
    width: 100% !important;
  }
}
input[type=text]:hover,
input[type=url]:hover,
input[type=number]:hover,
input[type=tel]:hover,
input[type=color]:hover,
input[type=email]:hover,
input[type=password]:hover,
textarea:hover,
select:hover {
  border-color: #e6e6e6;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid #ffbc40;
}
.form-item .description {
  font: italic 400 10px/22px museo-slab;
  color: #999999;
}

label {
  font: 700 13px/22px indivisible;
  color: #202020;
  text-transform: uppercase;
}
label.option {
  font: 400 13px/13px museo-slab;
  text-transform: none;
  vertical-align: middle;
}

.region-content {
  font: 400 16px/24px museo-slab;
  color: #202020;
}

header.site {
  height: 106px;
  background-color: #202020;
}
@media (max-width: 680px) {
  header.site {
    height: 159px;
    background-color: #202020;
  }
}
@media (max-width: 680px) {
  header.site {
    height: 123px;
  }
}
header.site .width_limiter {
  position: relative;
}
header .logo {
  float: left;
  /* GRID: 12/12 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  text-align: center;
  height: 70px;
  line-height: 70px;
}
header .logo a {
  display: inline-block;
}
header .logo a img {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font: 200 36px/40px indivisible;
  letter-spacing: -0.04em;
  color: #999999;
  margin-bottom: 29px;
}

h2 {
  font: 600 24px/30px indivisible;
  color: #999999;
  margin-bottom: 7px;
}

@media (max-width: 680px) {
  .header_menu {
    display: none;
  }
}

nav.site {
  margin-top: -36px;
}
@media (max-width: 680px) {
  nav.site {
    margin-top: 0;
    padding: 0;
  }
}
nav.site .block-menu-block {
  width: 100%;
}
nav.site .block-menu-block .menu-block-wrapper .menu {
  display: flex;
}
@media (max-width: 680px) {
  nav.site .block-menu-block .menu-block-wrapper .menu {
    display: block;
  }
}
nav.site li {
  flex-grow: 1;
  position: relative;
  padding: 0;
}
nav.site li a {
  display: block;
  width: 100%;
  height: 36px;
  font: 600 18px/36px indivisible;
  text-transform: uppercase;
  padding: 0 12px;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
nav.site li a:hover {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
nav.site li a:hover:after {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  opacity: 0;
}
nav.site li a:after {
  position: absolute;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px;
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
}
@media (max-width: 720px) {
  nav.site li a {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  nav.site li a:after {
    display: none;
  }
}
nav.site li:nth-child(4n+1) a {
  background-color: #0e8784;
  color: rgba(255, 255, 255, 0.7);
}
nav.site li:nth-child(4n+1) a:hover {
  background-color: #2fbab7;
}
nav.site li:nth-child(4n+1) a:after {
  border-top-color: #2fbab7;
  border-right-color: #2fbab7;
}
nav.site li:nth-child(4n+2) a {
  background-color: #8dc63f;
  color: rgba(255, 255, 255, 0.7);
}
nav.site li:nth-child(4n+2) a:hover {
  background-color: #bee17f;
}
nav.site li:nth-child(4n+2) a:after {
  border-top-color: #bee17f;
  border-right-color: #bee17f;
}
nav.site li:nth-child(4n+3) a {
  background-color: #ffbc40;
  color: rgba(255, 255, 255, 0.7);
}
nav.site li:nth-child(4n+3) a:hover {
  background-color: #ffdb80;
}
nav.site li:nth-child(4n+3) a:after {
  border-top-color: #ffdb80;
  border-right-color: #ffdb80;
}
nav.site li:nth-child(4n) a {
  background-color: #49b3cd;
  color: rgba(255, 255, 255, 0.7);
}
nav.site li:nth-child(4n) a:hover {
  background-color: #88d6e5;
}
nav.site li:nth-child(4n) a:after {
  border-top-color: #88d6e5;
  border-right-color: #88d6e5;
}
nav.user {
  float: left;
  /* GRID: 5/12 cols */
  width: 39.9743589744%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  position: absolute;
  right: 0;
  margin-top: 13px;
}
nav.user li {
  float: left;
  /* Inner block: 1 cols within 5/12 block */
  width: 16.6132135985%;
  margin: 0 2.116741501%;
  display: inline-block;
  float: right;
  height: 44px;
}
nav.user li:nth-child(5n+1) {
  margin-left: 0;
  clear: both;
}
nav.user li:nth-child(5n) {
  margin-right: 0;
}
@media (max-width: 680px) {
  nav.user li {
    float: left;
    /* Inner block: 2 cols within 12/12 block */
    width: 15.232133542%;
    margin: 0 0.8607198748%;
    float: none;
  }
  nav.user li:nth-child(6n+1) {
    margin-left: 0;
    clear: both;
  }
  nav.user li:nth-child(6n) {
    margin-right: 0;
  }
}
nav.user li a {
  text-align: center;
  display: block;
  width: 100%;
  line-height: 8px;
}
nav.user li a.account .icon {
  background-position: 0 -32px;
}
nav.user li a.account:hover .icon {
  background-position: 0 0;
}
nav.user li a.cart .icon {
  background-position: -32px -32px;
}
nav.user li a.cart:hover .icon {
  background-position: -32px 0;
}
nav.user li a.log_in_out .icon {
  background-position: -64px -32px;
}
nav.user li a.log_in_out:hover .icon {
  background-position: -64px 0;
}
nav.user li a.hamburger_menu_opener {
  display: none;
  cursor: pointer;
}
@media (max-width: 680px) {
  nav.user li a.hamburger_menu_opener {
    display: block;
  }
}
nav.user li a.hamburger_menu_opener .icon {
  background-position: -96px -32px;
}
nav.user li a.hamburger_menu_opener:hover .icon {
  background-position: -96px 0;
}
nav.user a:hover .title {
  color: white;
}
nav.user .title {
  font: 600 10px/10px indivisible;
  color: #999999;
  text-transform: uppercase;
  display: inline-block;
}
nav.user .icon {
  height: 32px;
  width: 32px;
  background-image: url("../../images/user.png");
  background-repeat: no-repeat;
  background-size: 128px 64px;
  display: inline-block;
}
nav.user .downloads .icon {
  background: url("../../images/arrow_download_blink.gif") no-repeat 0 0;
  background-size: 32px 32px;
}
@media (max-width: 680px) {
  nav.user {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
    position: relative;
    height: 44px;
    margin-top: 0;
    text-align: center;
  }
}

.width_limiter.main {
  margin-top: 36px;
}
.width_limiter.main .content_without_sidebar {
  float: left;
  /* GRID: 12/12 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
.width_limiter.main .content_with_sidebar {
  float: left;
  /* GRID: 9/12 cols */
  width: 73.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 720px) {
  .width_limiter.main .content_with_sidebar {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
    margin-bottom: 29px;
  }
}
.width_limiter.main .sidebar_right {
  float: left;
  /* GRID: 3/12 cols */
  width: 23.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 720px) {
  .width_limiter.main .sidebar_right {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}

#block-system-main {
  width: 100%;
}

.hidden {
  display: none;
}

.piece_title {
  font-style: italic;
}

div.status {
  background: #d1ecf2 url("../../images/message_checkmark.png") 9px center no-repeat;
  background-size: 29px 29px;
  border: none;
  color: #147da4;
  font: 400 13px/16px indivisible;
  margin-bottom: 11px;
}
div.status a {
  text-decoration: underline;
}

div.error {
  background: #ffecb5 url("../../images/message_x.png") 9px center no-repeat;
  background-size: 29px 29px;
  border: none;
  color: #202020;
  font: 400 13px/16px indivisible;
  margin-bottom: 11px;
}

.form-submit,
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back,
.view-commerce-user-file-licenses .file-link a {
  background-color: #8dc63f;
  font: 600 16px/24px indivisible;
  color: white;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.form-submit[disabled],
.checkout-buttons .checkout-cancel[disabled],
.checkout-buttons .checkout-back[disabled],
.view-commerce-user-file-licenses .file-link a[disabled] {
  background-color: #999999;
}
.form-submit[disabled]:hover,
.checkout-buttons .checkout-cancel[disabled]:hover,
.checkout-buttons .checkout-back[disabled]:hover,
.view-commerce-user-file-licenses .file-link a[disabled]:hover {
  background-color: #666666;
}
.form-submit:hover,
.checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover,
.view-commerce-user-file-licenses .file-link a:hover {
  background-color: #4d990f;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  color: white;
  text-decoration: none;
}

.view-commerce-user-file-licenses .file-link a {
  display: block;
}
.view-commerce-user-file-licenses td {
  height: 22px;
  font-size: 11px;
  line-height: 13px;
}
.view-commerce-user-file-licenses .views-field-status {
  text-align: center;
}
.view-commerce-user-file-licenses caption {
  padding-bottom: 11px;
}
.view-commerce-user-file-licenses caption h3 {
  font: 700 13px/24px indivisible;
  color: #202020;
  display: block;
  float: left;
}
.view-commerce-user-file-licenses caption .file-link {
  float: right;
}
.view-commerce-user-file-licenses table {
  margin-bottom: 34px;
  width: 100%;
}
.view-commerce-user-file-licenses th {
  height: 22px;
  font-size: 10px;
  line-height: 22px;
}

.button-operator {
  margin: 0 13px;
  font: 400 13px/13px indivisible;
}

fieldset {
  margin-top: 22px;
  font: 400 13px/13px museo-slab;
  color: #202020;
}
fieldset legend {
  margin-bottom: 11px;
}
fieldset#edit-cart-contents {
  margin-top: 0;
}

.fieldset-legend {
  font: 700 18px/18px indivisible;
  color: #202020;
}

.terms-of-service {
  font: 400 13px/21px museo-slab;
}

em {
  font-style: italic;
}

table th {
  background-color: #e6e6e6;
  color: #999999;
  font: 700 13px/15px indivisible;
  height: 29px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 13px;
}
table th, table td {
  border: 1px solid #cccccc;
  vertical-align: middle;
}
table td {
  padding: 4px 13px;
  background-color: white;
  color: #202020;
  font: 400 13px/15px indivisible;
  vertical-align: middle;
  height: 29px;
}
table td.active {
  background-color: #ffecb5;
}

.tooltip {
  color: #ffbc40;
  text-align: center;
  cursor: pointer;
}
.tooltip.big_right {
  background: url("../../images/tooltip_big_right.png") no-repeat 0 0;
  background-size: 278px 224px;
  height: 112px;
  font: 400 13px/18px indivisible;
  /*Exact box edges are at 4px 22px 8px 6px.*/
  padding: 29px 47px 33px 31px;
  width: 278px;
}
.tooltip.big_right:hover {
  background-position: 0 -112px;
}
.tooltip.big_right.filter {
  top: 44px;
  left: -278px;
  position: absolute;
}

footer.site {
  margin-top: 75px;
  padding: 29px 0 29px 0;
  background-color: #202020;
  position: relative;
  width: 100%;
}
@media (max-width: 400px) {
  footer.site {
    padding: 18px 0;
  }
}
footer.site h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 6px;
}
@media (max-width: 400px) {
  footer.site h2 {
    font-weight: 800;
    font-size: 13px;
  }
}
footer.site .block.logo {
  float: left;
  /* GRID: 6/12 cols */
  width: 48.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  text-align: center;
}
@media (max-width: 540px) {
  footer.site .block.logo {
    display: none;
  }
}
footer.site .block.logo a.aa_logo {
  background: url("../../images/logo_white.png") no-repeat 0 0;
  background-size: 150px 45px;
  display: inline-block;
  width: 150px;
  height: 45px;
}
footer.site .block_container.social {
  margin-top: 36px;
}
footer.site .block_container.social .right-shifter {
  height: 30px;
  float: left;
  /* GRID: 4/12 cols */
  width: 31.641025641%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 540px) {
  footer.site .block_container.social .right-shifter {
    display: none;
  }
}
footer.site .block_container.social a {
  float: left;
  /* GRID: 1/12 cols */
  width: 6.641025641%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  height: 30px;
  color: transparent;
  font-size: 0;
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
}
@media (max-width: 540px) {
  footer.site .block_container.social a {
    float: left;
    /* GRID: 3/12 cols */
    width: 23.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
footer.site .block_container.social a.facebook {
  background-image: url("../../images/facebook.png");
}
footer.site .block_container.social a.instagram {
  background-image: url("../../images/instagram.png");
}
footer.site .block_container.social a.youtube {
  background-image: url("../../images/youtube.png");
}
footer.site .block_container.social a.pinterest {
  background-image: url("../../images/pinterest.png");
}
footer.site .block_container.social a:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease 0s;
}
footer.site .block-menu-block {
  float: left;
  /* GRID: 2/12 cols */
  width: 14.9743589744%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 540px) {
  footer.site .block-menu-block {
    float: left;
    /* GRID: 3/12 cols */
    width: 23.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
footer.site .copyright {
  float: left;
  /* GRID: 12/12 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  text-align: center;
  font: 400 10px/12px indivisible;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666666;
  margin-top: 29px;
}
@media (max-width: 400px) {
  footer.site .copyright {
    font-size: 8px;
    line-height: 10px;
    margin-top: 18px;
  }
}
footer.site ul.menu li {
  font: 500 12px/14px indivisible;
  margin-bottom: 4px;
}
footer.site ul.menu li a {
  color: white;
}

#block-menu-block-1 h2 {
  color: #0e8784;
}

#block-menu-block-2 h2 {
  color: #8dc63f;
}

#block-menu-block-3 h2 {
  color: #ffbc40;
}

#block-menu-block-4 h2 {
  color: #147da4;
}

.node-faq {
  margin-bottom: 29px;
}

.contact-form textarea {
  height: 122px;
}

a {
  transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
}

a.banner {
  float: left;
  /* GRID: 1/1 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  height: 418px;
  background: url("../../images/banner_music.png") no-repeat center center;
  background-size: auto 100%;
  margin-bottom: 18px;
}
@media (max-width: 900px) {
  a.banner {
    height: 300px;
    background: url("../../images/banner_music_narrow.png") no-repeat center center;
    background-size: auto 100%;
  }
}

#node-32 .field-item {
  display: block;
}

a.section_button {
  float: left;
  /* GRID: 3/12 cols */
  width: 23.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  background-color: #202020;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font: 800 16px/16px indivisible;
  text-transform: uppercase;
  text-align: center;
  padding: 11px;
  letter-spacing: 0.07em;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}
a.section_button:hover {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
@media (max-width: 900px) {
  a.section_button {
    letter-spacing: 0;
  }
}
@media (max-width: 820px) {
  a.section_button {
    font-size: 13px;
    line-height: 13px;
  }
}
@media (max-width: 720px) {
  a.section_button {
    float: left;
    /* GRID: 4/12 cols */
    width: 31.641025641%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
  a.section_button.col1 {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
    margin-bottom: 11px;
  }
}
@media (max-width: 400px) {
  a.section_button {
    font-size: 12px;
  }
}
a.section_button:nth-child(4n+1) {
  color: #0e8784;
  background-color: #202020;
  color: #0e8784;
}
a.section_button:nth-child(4n+1):hover {
  background-color: #2fbab7;
}
a.section_button:nth-child(4n+1):after {
  border-top-color: #2fbab7;
  border-right-color: #2fbab7;
}
a.section_button:nth-child(4n+2) {
  color: #8dc63f;
  background-color: #202020;
  color: #8dc63f;
}
a.section_button:nth-child(4n+2):hover {
  background-color: #bee17f;
}
a.section_button:nth-child(4n+2):after {
  border-top-color: #bee17f;
  border-right-color: #bee17f;
}
a.section_button:nth-child(4n+3) {
  color: #ffbc40;
  background-color: #202020;
  color: #ffbc40;
}
a.section_button:nth-child(4n+3):hover {
  background-color: #ffdb80;
}
a.section_button:nth-child(4n+3):after {
  border-top-color: #ffdb80;
  border-right-color: #ffdb80;
}
a.section_button:nth-child(4n) {
  color: #147da4;
  background-color: #202020;
  color: #49b3cd;
}
a.section_button:nth-child(4n):hover {
  background-color: #88d6e5;
}
a.section_button:nth-child(4n):after {
  border-top-color: #88d6e5;
  border-right-color: #88d6e5;
}

#block-views-news-block {
  float: left;
  /* GRID: 6/12 cols */
  width: 48.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 540px) {
  #block-views-news-block {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
#block-views-news-block > h2 {
  font: 600 29px/35px indivisible;
  color: #999999;
  margin-bottom: 11px;
  margin-top: 29px;
}

.submitted {
  color: #999999;
  font: italic 400 11px/18px museo-slab;
  margin-bottom: 0;
}

.view-news .views-row {
  border-bottom: solid 1px #e6e6e6;
}
.view-news .node h2 a {
  color: #0e8784;
}

ul.inline .node-readmore {
  padding: 0;
  font: italic 400 10px/10px museo-slab;
}
ul.inline .node-readmore:after {
  content: "...";
}
ul.menu {
  list-style: none;
}
ul.menu li {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}
ul.primary li.active a {
  background-color: #147da4;
  border: none;
  font-weight: 700;
}
ul.tabs {
  font: 400 13px/29px indivisible;
  color: #202020;
  margin-bottom: 34px !important;
}
@media (max-width: 400px) {
  ul.tabs {
    margin: 0;
    padding: 0;
    border: none;
  }
}
ul.tabs li {
  display: inline-block;
  vertical-align: bottom;
}
@media (max-width: 400px) {
  ul.tabs li {
    display: block;
    margin-bottom: 1px;
  }
}
ul.tabs li a {
  color: white;
  background-color: #49b3cd;
  border: none;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  padding: 5px 16px;
  display: block;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
@media (max-width: 400px) {
  ul.tabs li a {
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
}
ul.tabs li a:hover {
  background-color: #147da4;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

#block-views-exp-music-catalog-page {
  display: none;
}
@media (max-width: 720px) {
  #block-views-exp-music-catalog-page {
    width: 100%;
  }
}

p.notice {
  background-color: #bee17f;
  border: 1px solid #e6e6e6;
  color: #202020;
  display: block;
  font: 400 13px/16px indivisible;
  margin-top: 22px;
  padding: 10px;
  text-align: center;
  float: left;
}
p.notice.teal {
  background-color: #2fbab7;
}
p.notice.yellow {
  background-color: #ffecb5;
}
p.notice.green {
  background-color: #bee17f;
}
p.notice.blue {
  background-color: #88d6e5;
}

.filter-wrapper .form-item {
  padding-left: 0;
}
.filter-wrapper select {
  width: auto;
}

.filter-guidelines, .filter-help {
  padding: 0;
}

#comments .comment {
  border: solid 1px #e6e6e6;
  margin-bottom: 12px;
  padding: 12px;
  position: relative;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
#comments .comment::before {
  content: " ";
  width: 0;
  height: 0;
  border-width: 6px;
  border-color: #8dc63f transparent transparent #8dc63f;
  border-style: solid;
  top: 0;
  left: 0;
  position: absolute;
}
#comments .comment:hover {
  background-color: #f4f9ec;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}
#comments .comment .new {
  display: none;
}
#comments .comment h3 {
  font-weight: 700;
}
#comments .comment .field-name-comment-body {
  font-size: 14px;
  line-height: 18px;
}
#comments .comment-new {
  background-color: #fffbf2;
}
#comments .comment-new::before {
  border-color: #ffdb80 transparent transparent #ffdb80;
}
#comments .comment-new:hover {
  background-color: #fff6df;
}
#comments ul.inline li {
  padding: 0;
  margin-right: 6px;
}
#comments ul.inline li a {
  font-size: 14px;
  line-height: 18px;
  color: #8dc63f;
}
#comments ul.inline li a:hover {
  text-decoration: underline;
}
#comments .submitted .permalink::after {
  content: "  •  ";
}

ul.inline li.comment-add {
  padding: 0;
}
ul.inline li.comment-add a {
  color: #8dc63f;
}
ul.inline li.comment-add a:hover {
  text-decoration: underline;
}

.front .masthead {
  width: 100%;
  height: 450px;
  background: #e6e6e6 url("../../images/masthead.jpg") center center no-repeat;
}
@media (max-width: 960px) {
  .front .masthead {
    height: 225px;
    background-image: url("../../images/masthead-smaller.jpg");
    background-size: 960px 225px;
  }
}
.front .width_limiter.main {
  margin-top: 0;
}
@media (max-width: 720px) {
  .front .width_limiter.main .block_container {
    padding: 0;
  }
}
@media (max-width: 720px) {
  .front .width_limiter.main .content_without_sidebar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.front .region-triptych {
  display: flex;
}
@media (max-width: 720px) {
  .front .region-triptych {
    flex-wrap: wrap;
  }
}
.front .region-triptych .block {
  padding: 24px 60px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
  flex-grow: 1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front .region-triptych .block .content {
  text-align: center;
  color: white;
  font: 14px/16.8px indivisible;
}
.front .region-triptych .block .content .read_more {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 800 16px/16px indivisible;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
@media (max-width: 720px) {
  .front .region-triptych .block .content .read_more {
    display: block;
  }
}
.front .region-triptych .block:hover {
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}
.front .region-triptych .block:hover .read_more {
  background-color: #202020;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.front .region-triptych .block h2 {
  text-align: center;
  color: white;
  font: 48px/48px indivisible;
  margin-bottom: 0;
  text-transform: uppercase;
}
.front #block-block-2 {
  background: #0e8784 url("../../images/panel-design.png") center center/1022px 547.5px no-repeat;
  margin-right: 0.8461538462%;
}
@media (max-width: 720px) {
  .front #block-block-2 {
    margin-right: 0;
  }
}
.front #block-block-2:hover {
  background-color: #2fbab7;
}
.front #block-block-3 {
  background: #8dc63f url("../../images/panel-music.png") center center/1377px 804px no-repeat;
  margin-left: 0.8461538462%;
}
@media (max-width: 720px) {
  .front #block-block-3 {
    margin-left: 0;
  }
}
.front #block-block-3:hover {
  background-color: #bee17f;
}
.front #block-block-4 {
  background-color: #49b3cd;
  margin-right: 0.8461538462%;
}
@media (max-width: 720px) {
  .front #block-block-4 {
    margin-right: 0;
  }
}
.front #block-block-4 h2::before {
  background: url("../../images/panel_video.png") center center no-repeat;
  background-size: 112px 60.5px;
}
.front #block-block-4:hover {
  background-color: #88d6e5;
}
.front #block-block-5 {
  float: left;
  /* GRID: 12/12 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  background: url("../../images/iMac2_00001.jpg") center center no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;
  overflow: visible;
  position: relative;
}
@media (max-width: 720px) {
  .front #block-block-5 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 720px) {
  .front #block-block-5 {
    background-image: none;
    background-color: #ffbc40;
    height: auto;
    padding: 24px 60px;
  }
}
.front #block-block-5 h2 {
  font: 300 72px/72px indivisible;
  color: white;
  position: absolute;
  right: 110px;
  top: 150px;
  width: 270px;
  text-align: center;
}
@media (max-width: 1100px) {
  .front #block-block-5 h2 {
    width: 180px;
    font-size: 48px;
    line-height: 48px;
    right: 60px;
    top: 80px;
  }
}
@media (max-width: 720px) {
  .front #block-block-5 h2 {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
}
.front #block-block-5 .content {
  color: #333333;
  text-align: center;
  font: 14px/16.8px indivisible;
  position: absolute;
  right: 110px;
  top: 240px;
  width: 270px;
  text-align: center;
}
@media (max-width: 1100px) {
  .front #block-block-5 .content {
    width: 180px;
    right: 60px;
    top: 140px;
  }
}
@media (max-width: 720px) {
  .front #block-block-5 .content {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
}
.front #block-block-5 a {
  display: block;
  background-color: #202020;
  color: white;
  padding: 10px;
  margin-top: 24px;
  border-radius: 3px;
  font: 800 16px/16px indivisible;
  text-transform: uppercase;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
@media (max-width: 720px) {
  .front #block-block-5 a {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.front #block-block-5 a:hover {
  background-color: #8dc63f;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}
.front footer.site {
  margin-top: 0;
}

.contact-form {
  background-color: white;
}
.contact-form header.site {
  height: 70px;
}
.contact-form input[type=text], .contact-form input[type=url], .contact-form input[type=number], .contact-form input[type=tel], .contact-form input[type=color], .contact-form input[type=email], .contact-form textarea, .contact-form select {
  width: 100%;
  border: solid 2px transparent;
  background-color: #e2f1cf;
  transition: border-color 0.5s ease 0s;
  -moz-transition: border-color 0.5s ease 0s;
  -webkit-transition: border-color 0.5s ease 0s;
}
.contact-form input[type=text]:hover, .contact-form input[type=url]:hover, .contact-form input[type=number]:hover, .contact-form input[type=tel]:hover, .contact-form input[type=color]:hover, .contact-form input[type=email]:hover, .contact-form textarea:hover, .contact-form select:hover {
  border-color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.contact-form h1 {
  color: #8dc63f;
}
.contact-form .form-submit {
  height: 29px;
}
.contact-form .field-name-body {
  margin-bottom: 29px;
}
.contact-form label {
  color: #999999;
  display: block;
  text-align: left;
  width: 100%;
}
.contact-form h1 {
  text-align: center;
  margin-top: 75px;
}
@media (max-width: 720px) {
  .contact-form h1 {
    margin-top: 40px;
  }
}
.contact-form .node {
  font: 400 18px/29px museo-slab;
  color: #999999;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 720px) {
  .contact-form .node {
    width: 80%;
  }
}
.contact-form .webform-client-form {
  text-align: left;
  display: inline-block;
}
.contact-form .webform-client-form #edit-actions {
  text-align: right;
}
.contact-form .webform-client-form .form-type-checkbox label {
  display: inline;
}

.page-node-16 input[type=text], .page-node-16 input[type=url], .page-node-16 input[type=number], .page-node-16 input[type=tel], .page-node-16 input[type=color], .page-node-16 input[type=email], .page-node-16 textarea, .page-node-16 select {
  background-color: #c3e1e0;
}
.page-node-16 h1 {
  color: #0e8784;
}
.page-node-16 .node .form-submit {
  background-color: #0e8784;
}
.page-node-16 .node .form-submit:hover {
  background-color: #004744;
}

.page-node-19 input[type=text], .page-node-19 input[type=url], .page-node-19 input[type=number], .page-node-19 input[type=tel], .page-node-19 input[type=color], .page-node-19 input[type=email], .page-node-19 textarea, .page-node-19 select {
  background-color: #e2f1cf;
}
.page-node-19 h1 {
  color: #8dc63f;
}
.page-node-19 .node .form-submit {
  background-color: #8dc63f;
}
.page-node-19 .node .form-submit:hover {
  background-color: #4d990f;
}

.page-node-18 input[type=text], .page-node-18 input[type=url], .page-node-18 input[type=number], .page-node-18 input[type=tel], .page-node-18 input[type=color], .page-node-18 input[type=email], .page-node-18 textarea, .page-node-18 select {
  background-color: #ffecb5;
}
.page-node-18 h1 {
  color: #ffbc40;
}
.page-node-18 .node .form-submit {
  background-color: #ffbc40;
}
.page-node-18 .node .form-submit:hover {
  background-color: #ffdb80;
}

.page-node-133 input[type=text], .page-node-133 input[type=url], .page-node-133 input[type=number], .page-node-133 input[type=tel], .page-node-133 input[type=color], .page-node-133 input[type=email], .page-node-133 textarea, .page-node-133 select {
  background-color: #d1ecf2;
}
.page-node-133 h1 {
  color: #49b3cd;
}
.page-node-133 .node .form-submit {
  background-color: #49b3cd;
}
.page-node-133 .node .form-submit:hover {
  background-color: #147da4;
}

.page-node-32 h1 {
  display: none;
}

.field p {
  margin-bottom: 10px;
}
.field blockquote {
  font-weight: 700;
  margin-left: 29px;
  margin-bottom: 10px;
}

.field-name-field-credits {
  font: italic 400 13px/18px museo-slab;
  color: #999999;
  margin-bottom: 0;
}

.field-label,
.field-items {
  float: none;
}

.field-name-field-category,
.field-name-field-composition-date,
.field-name-field-duration,
.field-name-field-ensembles,
.field-name-field-ensemble-size,
.field-name-field-instrumentation,
.field-name-field-languages,
.field-name-field-license,
.field-name-field-measures,
.field-name-field-score-last-updated,
.field-name-field-score-size {
  font: 700 13px/18px indivisible;
  color: #202020;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 720px) {
  .field-name-field-category,
.field-name-field-composition-date,
.field-name-field-duration,
.field-name-field-ensembles,
.field-name-field-ensemble-size,
.field-name-field-instrumentation,
.field-name-field-languages,
.field-name-field-license,
.field-name-field-measures,
.field-name-field-score-last-updated,
.field-name-field-score-size {
    display: block;
    clear: both;
  }
}

.field-name-field-category:after,
.field-name-field-composition-date:after,
.field-name-field-duration:after,
.field-name-field-ensembles:after,
.field-name-field-ensemble-size:after,
.field-name-field-instrumentation:after,
.field-name-field-languages:after,
.field-name-field-score-last-updated:after,
.field-name-field-score-size:after {
  content: "|";
  color: #999999;
  margin: 0 10px;
}
@media (max-width: 720px) {
  .field-name-field-category:after,
.field-name-field-composition-date:after,
.field-name-field-duration:after,
.field-name-field-ensembles:after,
.field-name-field-ensemble-size:after,
.field-name-field-instrumentation:after,
.field-name-field-languages:after,
.field-name-field-score-last-updated:after,
.field-name-field-score-size:after {
    content: "";
  }
}

.field-name-field-composition-date,
.field-name-field-license,
.field-name-field-score-last-updated {
  color: #999999;
}

.field-name-field-category .field-label,
.field-name-field-composition-date .field-label,
.field-name-field-duration .field-label,
.field-name-field-ensembles .field-label,
.field-name-field-ensemble-size .field-label,
.field-name-field-instrumentation .field-label,
.field-name-field-languages .field-label,
.field-name-field-license .field-label,
.field-name-field-measures .field-label,
.field-name-field-score-last-updated .field-label,
.field-name-field-score-size .field-label {
  display: inline;
  font-weight: 400;
}

.form-type-bef-checkbox {
  margin-left: 14px;
}
@media (max-width: 720px) {
  .form-type-bef-checkbox {
    padding: 8px 0;
    margin-left: 0;
    border-top: solid 1px #e6e6e6;
  }
  .form-type-bef-checkbox:first-child {
    border-top: none;
  }
}
.form-type-bef-checkbox.section_header {
  margin-left: 0;
  cursor: pointer;
}
.form-type-bef-checkbox.section_header:before {
  content: " ";
  width: 12px;
  height: 12px;
  background: url("../../images/dropdown_small.svg") 0 0/24px 24px no-repeat;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  margin-left: 14px;
  margin-right: 5px;
}
@media (max-width: 720px) {
  .form-type-bef-checkbox.section_header:before {
    margin-left: 0;
  }
}
.form-type-bef-checkbox.section_header.open:before {
  background-position: -12px 0;
}

.views-exposed-form .form-type-bef-checkbox label {
  color: #0e8784;
  font-weight: 400;
  transition: color 0.4s ease 0s;
  -moz-transition: color 0.4s ease 0s;
  -webkit-transition: color 0.4s ease 0s;
  cursor: pointer;
}
.views-exposed-form .form-type-bef-checkbox label:hover {
  color: #2fbab7;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
}
.views-exposed-form .form-type-bef-checkbox label.section_header label {
  font-weight: 700;
}
.views-exposed-form .form-type-bef-checkbox span.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: solid 1px #c3e1e0;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.4s ease 0s, border-color 0.4s ease 0s;
}
@media (max-width: 720px) {
  .views-exposed-form .form-type-bef-checkbox span.checkbox {
    height: 25px;
    vertical-align: middle;
    width: 25px;
    margin-right: 6px;
  }
}
.views-exposed-form .form-type-bef-checkbox span.checkbox.checked {
  background-color: #0e8784;
  border-color: #0e8784;
}
.views-exposed-form .form-type-bef-checkbox span.checkbox.checked:hover {
  background-color: #2fbab7;
  border-color: #2fbab7;
}
.views-exposed-form .form-type-bef-checkbox span.checkbox:hover, .views-exposed-form .form-type-bef-checkbox span.checkbox.hover {
  border-color: #2fbab7;
  background-color: #2fbab7;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
}
.views-exposed-form label {
  font: 700 13px/21px indivisible;
  color: #202020;
}
.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  margin-bottom: 11px;
}

.pdf_notice {
  margin-top: 22px;
  background-color: #88d6e5;
  color: #147da4;
  font: 700 13px/21px indivisible;
  text-align: center;
  padding: 12px;
}
.pdf_notice a {
  text-decoration: underline;
}

.field-name-field-preview-audio audio {
  display: none;
  height: 0;
}

.field-title {
  display: inline-block;
}

.page-node .field-name-field-ensembles-duplicate {
  display: none;
}
.page-node .field-name-field-preview-audio,
.page-node .field-name-field-preview-image {
  display: inline-block;
  vertical-align: middle;
}
.page-node .field-name-field-preview-audio {
  margin-left: 6px;
}
.page-node .field-name-field-preview-audio .play_button {
  display: inline-block;
  background: #8dc63f url("../../images/speaker_big.png") 0 0 no-repeat;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.page-node .field-name-field-preview-audio .play_button.playing {
  background-color: #ffbc40;
}
.page-node .field-name-field-preview-audio .play_button:hover {
  background-color: #4d990f;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.page-node a.colorbox.loupe {
  display: inline-block;
  background: #49b3cd url("../../images/loupe_big.png") 0 0 no-repeat;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.page-node a.colorbox.loupe:hover {
  background-color: #147da4;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.view-music-catalog .field-item {
  display: inline-block;
}
.view-music-catalog .field-item:after {
  content: ", ";
}
.view-music-catalog .field-item:last-child:after {
  content: "";
}
.view-music-catalog .field-name-body {
  margin-top: 20px;
}
.view-music-catalog .field-name-field-preview-audio .field-item {
  vertical-align: middle;
}
.view-music-catalog .field-name-field-preview-audio .field-item .play_button {
  display: block;
  background: url("../../images/speaker.svg") 0 -24px no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px 96px;
  cursor: pointer;
}
.view-music-catalog .field-name-field-preview-audio .field-item .play_button.playing {
  background-position: 0 -72px;
}
.view-music-catalog .field-name-field-preview-audio .field-item .play_button:hover {
  background-position: 0 -48px;
}
.view-music-catalog a.info_button {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../images/info.svg") no-repeat 0 0;
  background-size: 24px 48px;
  background-position: 0 0;
  color: transparent;
  overflow: hidden;
  vertical-align: middle;
}
.view-music-catalog a.info_button:hover {
  background-position: 0 -24px;
}
.view-music-catalog a.colorbox.loupe {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../images/loupe.svg") no-repeat 0 0;
  background-size: 24px 48px;
  background-position: 0 0;
  vertical-align: middle;
}
.view-music-catalog a.colorbox.loupe:hover {
  background-position: 0 -24px;
}
.view-music-catalog .field.field-name-field-ensembles-duplicate {
  position: absolute;
  right: 6px;
  top: 0;
  font: 700 13px/48px indivisible;
  color: #999999;
}
@media (max-width: 720px) {
  .view-music-catalog .field.field-name-field-ensembles-duplicate {
    line-height: 11px;
    position: relative;
    right: 0;
  }
}
.view-music-catalog .field-name-field-preview-audio,
.view-music-catalog .field-name-field-preview-image {
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}
@media (max-width: 720px) {
  .view-music-catalog .field-name-field-preview-image {
    margin-left: 0;
  }
}
.view-music-catalog .views-row .teaser {
  border-bottom: solid 1px #e6e6e6;
  height: 60px;
  display: table;
  width: 100%;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.view-music-catalog .views-row .teaser .plus_button {
  display: block;
  position: absolute;
  width: 60px;
  height: 100%;
  background: #ffecb5 url("../../images/plus_minus.png") no-repeat 0 center;
  background-size: 120px 60px;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.view-music-catalog .views-row .teaser:hover {
  background-color: #ffecb5;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.view-music-catalog .views-row .teaser:hover .plus_button {
  background-color: #ffdb80;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.view-music-catalog .views-row .teaser .teaser_content {
  padding-left: 80px;
  display: table-cell;
  vertical-align: middle;
}
.view-music-catalog .views-row .content_rollout {
  padding-left: 80px;
  padding-top: 20px;
  display: none;
}
@media (max-width: 720px) {
  .view-music-catalog .views-row .content_rollout {
    padding-left: 0;
  }
}
.view-music-catalog .views-row.expanded .plus_button {
  background-position: -60px center;
}
.view-music-catalog .views-row.expanded .teaser {
  border-bottom: none;
}
.view-music-catalog .views-row.expanded .content_rollout {
  border-bottom: solid 1px #e6e6e6;
}
.view-music-catalog .views-row h2 {
  font: 600 18px/22px indivisible;
  margin-bottom: 0;
  display: inline-block;
  color: black;
}

.node-music-product .field-item {
  display: inline-block;
}
.node-music-product .field-item:after {
  content: ", ";
}
.node-music-product .field-item:last-child:after {
  content: "";
}
.node-music-product .field-name-body {
  margin-top: 20px;
}
.node-music-product .content_rollout {
  padding-top: 20px;
}

.field-name-field-preview-image .field-item {
  display: none;
}
.field-name-field-preview-image .field-item:first-child {
  display: inline-block;
}
.field-name-field-preview-image .field-item:after {
  content: "";
}

#cboxTitle {
  font: 400 16px/38px indivisible;
  color: #202020;
}

#cboxCurrent {
  color: #999999;
  font: 400 16px/38px indivisible;
  bottom: -38px;
  border-left-color: #e6e6e6;
}

.field-name-field-is-one-of-multiple-arrange {
  display: block;
  font: 400 12px/14px indivisible;
  border: solid 1px #e6e6e6;
  color: #202020;
  padding: 5px;
  margin-top: 22px;
  background-color: #bee17f;
  text-align: center;
}

.view-empty {
  font: italic 400 13px/16px museo-slab;
  color: #202020;
}

.field-name-field-add-to-cart .field-item,
.view-music-add-to-cart-form table {
  width: 100%;
}

th.views-field-field-asset,
td.views-field-field-asset {
  border-right: none;
  padding-right: 6px;
  width: 1px;
}

@media (max-width: 720px) {
  th.views-field-field-asset,
td.views-field-field-asset,
th.views-field-field-pages,
td.views-field-field-pages,
th.views-field-commerce-file-line-item-files,
td.views-field-commerce-file-line-item-files,
th.views-field-commerce-unit-price,
td.views-field-commerce-unit-price {
    display: none;
  }
}
td.views-field-title-1 {
  border-left: none;
  padding-left: 6px;
}

td.views-field-commerce-price, td.views-field-add-to-cart-quantity, td.views-field-field-pages {
  text-align: right;
  width: 25%;
}
td.views-field-add-to-cart-quantity {
  padding: 0;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
td.views-field-title-1 {
  font-weight: 700;
  text-align: left;
  width: 50%;
}

.view-music-add-to-cart-form .form-actions {
  text-align: right;
  margin: 29px 0;
}
.view-music-add-to-cart-form .form-type-textfield {
  height: 100%;
}
.view-music-add-to-cart-form .form-text {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0);
  font: 400 13px/29px indivisible;
  color: #202020;
  text-align: right;
  padding: 0 13px;
  background-color: transparent;
}
.view-music-add-to-cart-form .form-text:hover {
  border: solid 1px rgba(0, 0, 0, 0);
}
.view-music-add-to-cart-form input.form-text {
  font-weight: 700;
}
.view-music-add-to-cart-form table {
  margin-top: 40px;
}
.view-music-add-to-cart-form th, .view-music-add-to-cart-form td {
  border: solid 1px #cccccc;
}
.view-music-add-to-cart-form th {
  background-color: #e6e6e6;
  text-align: center;
  height: 29px;
  font: 700 13px/15px indivisible;
  color: #999999;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 13px;
}
.view-music-add-to-cart-form td {
  font: 400 13px/15px indivisible;
  color: #202020;
  background-color: white;
  vertical-align: middle;
  height: 29px;
  padding: 4px 13px;
}
.view-music-add-to-cart-form td input {
  outline: none;
}
.view-music-add-to-cart-form td.views-field-add-to-cart-quantity {
  background-color: #ffecb5;
}
.view-music-add-to-cart-form td.views-field-add-to-cart-quantity:hover {
  background-color: #ffdb80;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.views-field-field-asset {
  vertical-align: middle;
}

.icon {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.icon.pdf {
  background-image: url("../../images/pdficon_small.png");
}

#node-21 img {
  width: 227px;
  height: 220px;
}

#node-22 img {
  width: 180px;
  height: 220px;
}

#block-block-7 {
  background-color: #e05500;
  margin: 12px 0 0 0;
  padding: 12px;
  border-radius: 12px;
}
#block-block-7 h2 {
  color: white;
}
#block-block-7 p {
  color: white;
  font: 400 18px/24px indivisible;
}
#block-block-7 .email {
  display: inline-block;
  width: 166px;
  height: 20px;
  background: url("../../images/email.png") center center/165.5px 20px no-repeat;
  vertical-align: middle;
}

.view-branding-typography .views-row {
  float: left;
  /* Inner block: 2 cols within 12/12 block */
  width: 15.232133542%;
  margin: 0 0.8607198748%;
  margin-bottom: 24px;
}
.view-branding-typography .views-row:nth-child(6n+1) {
  margin-left: 0;
  clear: both;
}
.view-branding-typography .views-row:nth-child(6n) {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .view-branding-typography .views-row {
    float: left;
    /* Inner block: 4 cols within 12/12 block */
    width: 32.1857068336%;
    margin: 0 0.8607198748%;
    margin-bottom: 12px;
  }
  .view-branding-typography .views-row:nth-child(3n+1) {
    margin-left: 0;
    clear: both;
  }
  .view-branding-typography .views-row:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .view-branding-typography .views-row {
    float: left;
    /* Inner block: 12 cols within 12/12 block */
    width: 100%;
    margin: 0 0.8607198748%;
    margin-bottom: 36px;
  }
  .view-branding-typography .views-row:nth-child(1n+1) {
    margin-left: 0;
    clear: both;
  }
  .view-branding-typography .views-row:nth-child(1n) {
    margin-right: 0;
  }
}
.view-branding-typography .views-row .views-field-field-video .video_wrapper {
  display: block;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.view-branding-typography .views-row .views-field-field-video .video_wrapper a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.view-branding-typography .views-row .views-field-field-video .video_wrapper a img {
  width: auto;
  height: 100%;
}
.view-branding-typography .views-row a {
  transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease 0s;
}
.view-branding-typography .views-row a img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.view-branding-typography .views-row a:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

.portfolio-page {
  background-color: #e6e6e6;
}
.portfolio-page header .logo {
  float: left;
  /* GRID: 6/12 cols */
  width: 48.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  text-align: left;
  height: 48px;
  line-height: 48px;
}
@media (max-width: 1176px) {
  .portfolio-page header .logo {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
    text-align: center;
  }
}
.portfolio-page header.site {
  height: 48px;
  margin-bottom: 48px;
}
.portfolio-page .region-header {
  float: left;
  /* GRID: 6/12 cols */
  width: 48.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  clear: none;
}
@media (max-width: 1176px) {
  .portfolio-page .region-header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 36px;
  }
}
.portfolio-page .region-header .block {
  float: right;
}
@media (max-width: 1176px) {
  .portfolio-page .region-header .block {
    float: none;
  }
}
@media (max-width: 1176px) {
  .portfolio-page .menu-name-menu-aa-nav {
    width: 100%;
  }
  .portfolio-page .menu-name-menu-aa-nav ul.menu {
    display: flex;
    flex-direction: row-reverse;
  }
}
.portfolio-page .menu-name-menu-aa-nav li {
  float: right;
  width: auto;
  padding: 0;
}
@media (max-width: 1176px) {
  .portfolio-page .menu-name-menu-aa-nav li {
    float: none;
    flex-grow: 1;
    background-color: #202020;
    text-align: center;
  }
}
.portfolio-page .menu-name-menu-aa-nav li a {
  height: 48px;
  font: 300 16px/48px indivisible;
  padding: 0 0 0 24px;
  transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
  color: white;
  background-color: transparent;
}
@media (max-width: 1176px) {
  .portfolio-page .menu-name-menu-aa-nav li a {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .portfolio-page .menu-name-menu-aa-nav li a {
    font-size: 12px;
  }
}
.portfolio-page .menu-name-menu-aa-nav li a:hover {
  color: #8dc63f;
}
.portfolio-page .menu-name-menu-aa-nav li a.active {
  font-weight: 800;
  color: white;
}
.portfolio-page .menu-name-menu-aa-nav li a:after {
  border: none;
}
.portfolio-page a.col1:hover {
  background-color: transparent;
  color: #0e8784;
}
.portfolio-page a.col2:hover {
  background-color: transparent;
  color: #8dc63f;
}
.portfolio-page a.col3:hover {
  background-color: transparent;
  color: #ffdb80;
}
.portfolio-page a.col4:hover {
  background-color: transparent;
  color: #49b3cd;
}
.portfolio-page h1 {
  font: 300 36px/36px indivisible;
  text-transform: uppercase;
}
@media (max-width: 850px) {
  .portfolio-page h1 {
    text-align: center;
  }
}
.portfolio-page .block-views h2 {
  font: 400 19px/22px museo-slab;
  margin-bottom: 24px;
  color: #b0b0b0;
}
@media (max-width: 850px) {
  .portfolio-page .block-views h2 {
    text-align: center;
  }
}
.portfolio-page #cboxContent {
  background-color: #e6e6e6;
}
.portfolio-page .field-name-field-image, .portfolio-page .field-name-field-video {
  background-color: #cccccc;
  text-align: center;
}
.portfolio-page .field-name-field-image img {
  vertical-align: top;
  width: 750px;
  height: auto;
}
@media (max-width: 850px) {
  .portfolio-page .field-name-field-image img {
    width: 470px;
  }
}
@media (max-width: 540px) {
  .portfolio-page .field-name-field-image img {
    width: 260px;
  }
}
.portfolio-page #colorbox .field-name-body {
  width: 750px;
  font: 400 16px/24px indivisible;
}
@media (max-width: 850px) {
  .portfolio-page #colorbox .field-name-body {
    width: 100%;
    padding: 0 24px;
  }
}
.portfolio-page .field-name-body {
  margin: 27px auto;
  color: #202020;
}
@media (max-width: 850px) {
  .portfolio-page .field-name-body {
    width: 470px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .portfolio-page .field-name-body {
    width: 260px;
  }
}
.portfolio-page #cboxContent h2 {
  margin: 0;
  text-align: center;
  font: 300 36px/36px indivisible;
  color: #999999;
  text-transform: uppercase;
  background-color: black;
  padding: 20px 0;
}
@media (max-width: 850px) {
  .portfolio-page #cboxContent h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 540px) {
  .portfolio-page #cboxContent h2 {
    font-size: 16px;
    line-height: 16px;
  }
}

#block-views-branding-typography-block,
#block-views-branding-typography-block-1,
#block-views-branding-typography-block-2,
#block-views-branding-typography-block-3,
#block-views-branding-typography-block-4,
#block-views-branding-typography-block-5,
#block-views-branding-typography-block-6 {
  width: 100%;
  margin-bottom: 36px;
}

#cboxClose {
  top: 5px;
  right: 5px;
}

div.contextual-links-wrapper {
  top: 5px;
  right: 50px;
}

.node-type-portfolio-item .field-name-field-image img {
  width: 100%;
  height: auto;
}

.node-type-portfolio-video .field-name-field-video .embedded-video .player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.node-type-portfolio-video .field-name-field-video .embedded-video .player iframe, .node-type-portfolio-video .field-name-field-video .embedded-video .player object, .node-type-portfolio-video .field-name-field-video .embedded-video .player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.commerce-line-item-views-form .delete-line-item {
  font: 600 13px/24px indivisible !important;
  width: 100%;
}

.commerce-line-item-views-form table, .view-commerce-cart-summary table {
  width: 100%;
}
.commerce-line-item-views-form th, .view-commerce-cart-summary th {
  background-color: #e6e6e6;
  color: #999999;
  font: 700 13px/15px indivisible;
  height: 29px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 13px;
}
@media (max-width: 720px) {
  .commerce-line-item-views-form th, .view-commerce-cart-summary th {
    font-size: 9px;
  }
}
.commerce-line-item-views-form th, .commerce-line-item-views-form td, .view-commerce-cart-summary th, .view-commerce-cart-summary td {
  border: 1px solid #cccccc;
  vertical-align: middle;
}
.commerce-line-item-views-form td, .view-commerce-cart-summary td {
  padding: 4px 13px;
  background-color: white;
  color: #202020;
  font: 400 13px/15px indivisible;
  vertical-align: middle;
  height: 29px;
}

th.views-field-commerce-file-line-item-files,
td.views-field-commerce-file-line-item-files {
  border-right: none;
  padding-right: 6px;
  width: 1px;
}

th.views-field-line-item-title,
td.views-field-line-item-title {
  border-left: none;
  padding-left: 6px;
}

.page-user-orders th.views-field-line-item-title,
.page-user-orders td.views-field-line-item-title {
  border-left: 1px solid #cccccc;
  padding-left: 13px;
}
.page-user-orders .views-table {
  width: 100%;
}

td.views-field-line-item-title {
  font-weight: 700;
  text-align: left;
}

td.views-field-commerce-unit-price,
td.views-field-edit-quantity,
td.views-field-commerce-total {
  text-align: right;
}

td.views-field-edit-quantity {
  padding: 0;
  background-color: white;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}

td.views-field-edit-quantity:hover {
  background-color: #ffecb5;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

td.views-field-edit-delete {
  padding: 4px;
}

td.views-field-edit-quantity .form-text {
  background-color: transparent;
  border: none;
  color: #202020;
  font: 400 13px/29px indivisible;
  padding: 0 13px;
  text-align: right;
  width: 100%;
  height: 100%;
}

.line-item-summary {
  margin: 22px 0 33px 0;
  font: 400 18px/18px indivisible;
  color: black;
}

#edit-checkout {
  margin-left: 13px;
}

.sunday #edit-checkout,
.sunday #edit-continue {
  background-color: #999999;
  cursor: auto;
}

.view-commerce-cart-summary .view-footer {
  text-align: right;
}

.commerce-price-formatted-components tr {
  border: none;
}
.commerce-price-formatted-components td {
  border: none;
  white-space: nowrap;
  font: 400 18px/36px indivisible;
  color: black;
}

table.checkout-review > tbody > tr {
  background-color: white;
  border: none;
  padding: 0;
}
table.checkout-review .pane-title {
  font: 700 18px/18px indivisible;
  color: #202020;
}
table.checkout-review .pane-title > td {
  padding: 22px 0 7px 0;
  border: none;
}
table.checkout-review .pane-data > td {
  padding: 0;
  border: none;
}

.pane-data {
  font: 400 13px/15px museo-slab;
  color: #202020;
}
.pane-data .form-item label {
  display: inline;
}
.pane-data .form-item label label:after {
  content: ":";
}

.checkout-review h2 {
  margin: 0;
}

.checkout-help {
  font: italic 400 13px/15px museo-slab;
}

#payment-details {
  font: italic 400 13px/15px museo-slab;
  margin-top: 22px;
}

#edit-checkout-completion-message {
  font: 400 13px/21px museo-slab;
  color: #202020;
  margin-bottom: 10px;
}

.cart-empty-page {
  font: 400 13px/15px museo-slab;
  color: #202020;
}

div.addressfield-container-inline > div.form-item input[type=text],
div.addressfield-container-inline > div.form-item input[type=url],
div.addressfield-container-inline > div.form-item input[type=number],
div.addressfield-container-inline > div.form-item input[type=tel],
div.addressfield-container-inline > div.form-item input[type=color],
div.addressfield-container-inline > div.form-item input[type=email],
div.addressfield-container-inline > div.form-item input[type=password],
div.addressfield-container-inline > div.form-item textarea,
div.addressfield-container-inline > div.form-item select {
  width: auto;
}

@media (max-width: 720px) {
  div.addressfield-container-inline > div.form-item {
    float: none;
    margin-right: 0;
  }
}
.page-checkout-complete p, .page-checkout-complete ul {
  margin-bottom: 12px;
}
.page-checkout-complete ul {
  list-style-type: disc;
}
.page-checkout-complete ul li {
  margin-left: 18px;
}

.logged-in #block-block-6 {
  display: none;
}

#block-block-6 {
  background-color: #88d6e5;
  padding: 12px;
  margin-top: 12px;
  animation-name: throb;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#block-block-6 a {
  font-weight: bold;
  color: #147da4;
  transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
}
#block-block-6 a:hover {
  color: black;
}

@keyframes throb {
  from {
    background-color: #88d6e5;
  }
  to {
    background-color: #d1ecf2;
  }
}
.view-april-afternoon-courses .views-row,
.page-taxonomy-term .node-course-product-wrapper {
  padding: 24px;
  border-top: solid 1px #cccccc;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.view-april-afternoon-courses .views-row:hover,
.page-taxonomy-term .node-course-product-wrapper:hover {
  background-color: #f4f9ec;
}
.view-april-afternoon-courses .views-row h2,
.page-taxonomy-term .node-course-product-wrapper h2 {
  float: left;
  /* GRID: 12/12 cols */
  width: 98.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  margin-bottom: 12px;
}
.view-april-afternoon-courses .views-row h2 a,
.page-taxonomy-term .node-course-product-wrapper h2 a {
  color: #8dc63f;
}
.view-april-afternoon-courses .views-row h2 a:hover,
.page-taxonomy-term .node-course-product-wrapper h2 a:hover {
  color: #4d990f;
}
.view-april-afternoon-courses .views-row .product-details-wrapper,
.page-taxonomy-term .node-course-product-wrapper .product-details-wrapper {
  float: left;
  /* GRID: 9/12 cols */
  width: 73.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
}
@media (max-width: 1024px) {
  .view-april-afternoon-courses .views-row .product-details-wrapper,
.page-taxonomy-term .node-course-product-wrapper .product-details-wrapper {
    float: left;
    /* GRID: 8/12 cols */
    width: 64.9743589744%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
@media (max-width: 850px) {
  .view-april-afternoon-courses .views-row .product-details-wrapper,
.page-taxonomy-term .node-course-product-wrapper .product-details-wrapper {
    float: left;
    /* GRID: 6/12 cols */
    width: 48.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
@media (max-width: 720px) {
  .view-april-afternoon-courses .views-row .product-details-wrapper,
.page-taxonomy-term .node-course-product-wrapper .product-details-wrapper {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
.view-april-afternoon-courses .views-row .field-name-field-thumbnail,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail {
  float: left;
  /* GRID: 3/12 cols */
  width: 23.3076923077%;
  /* GRID: Butting: no-butt */
  margin: 0 0.8461538462% 0 0.8461538462%;
  transition: opacity 0.2s ease 0s;
  -moz-transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease 0s;
}
@media (max-width: 1024px) {
  .view-april-afternoon-courses .views-row .field-name-field-thumbnail,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail {
    float: left;
    /* GRID: 4/12 cols */
    width: 31.641025641%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
@media (max-width: 850px) {
  .view-april-afternoon-courses .views-row .field-name-field-thumbnail,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail {
    float: left;
    /* GRID: 6/12 cols */
    width: 48.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
@media (max-width: 720px) {
  .view-april-afternoon-courses .views-row .field-name-field-thumbnail,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail {
    float: left;
    /* GRID: 12/12 cols */
    width: 98.3076923077%;
    /* GRID: Butting: no-butt */
    margin: 0 0.8461538462% 0 0.8461538462%;
  }
}
.view-april-afternoon-courses .views-row .field-name-field-thumbnail img,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail img {
  width: 100%;
  height: auto;
}
.view-april-afternoon-courses .views-row .field-name-field-thumbnail:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail:hover {
  opacity: 0.5;
}

.view-april-afternoon-courses .views-row .field-name-body,
.view-april-afternoon-courses .views-row .field-name-field-lessons,
.view-april-afternoon-courses .views-row .field-name-field-running-time,
.view-april-afternoon-courses .views-row .field-name-field-course-tags,
.view-april-afternoon-courses .views-row .field-name-field-offsite-link,
.view-april-afternoon-courses .views-row .field-name-commerce-price,
.view-april-afternoon-courses .views-row .field-name-field-product,
.node-type-course-product-wrapper .field-name-body,
.node-type-course-product-wrapper .field-name-field-lessons,
.node-type-course-product-wrapper .field-name-field-running-time,
.node-type-course-product-wrapper .field-name-field-course-tags,
.node-type-course-product-wrapper .field-name-field-offsite-link,
.node-type-course-product-wrapper .field-name-commerce-price,
.node-type-course-product-wrapper .field-name-field-product,
.page-taxonomy-term .node-course-product-wrapper .field-name-body,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-lessons,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-running-time,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-offsite-link,
.page-taxonomy-term .node-course-product-wrapper .field-name-commerce-price,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-product {
  margin-bottom: 12px;
  clear: both;
  overflow: hidden;
}
.view-april-afternoon-courses .views-row .field-name-body a,
.view-april-afternoon-courses .views-row .field-name-field-lessons a,
.view-april-afternoon-courses .views-row .field-name-field-running-time a,
.view-april-afternoon-courses .views-row .field-name-field-course-tags a,
.view-april-afternoon-courses .views-row .field-name-field-offsite-link a,
.view-april-afternoon-courses .views-row .field-name-commerce-price a,
.view-april-afternoon-courses .views-row .field-name-field-product a,
.node-type-course-product-wrapper .field-name-body a,
.node-type-course-product-wrapper .field-name-field-lessons a,
.node-type-course-product-wrapper .field-name-field-running-time a,
.node-type-course-product-wrapper .field-name-field-course-tags a,
.node-type-course-product-wrapper .field-name-field-offsite-link a,
.node-type-course-product-wrapper .field-name-commerce-price a,
.node-type-course-product-wrapper .field-name-field-product a,
.page-taxonomy-term .node-course-product-wrapper .field-name-body a,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-lessons a,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-running-time a,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags a,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-offsite-link a,
.page-taxonomy-term .node-course-product-wrapper .field-name-commerce-price a,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-product a {
  color: #8dc63f;
}
.view-april-afternoon-courses .views-row .field-name-body a:hover,
.view-april-afternoon-courses .views-row .field-name-field-lessons a:hover,
.view-april-afternoon-courses .views-row .field-name-field-running-time a:hover,
.view-april-afternoon-courses .views-row .field-name-field-course-tags a:hover,
.view-april-afternoon-courses .views-row .field-name-field-offsite-link a:hover,
.view-april-afternoon-courses .views-row .field-name-commerce-price a:hover,
.view-april-afternoon-courses .views-row .field-name-field-product a:hover,
.node-type-course-product-wrapper .field-name-body a:hover,
.node-type-course-product-wrapper .field-name-field-lessons a:hover,
.node-type-course-product-wrapper .field-name-field-running-time a:hover,
.node-type-course-product-wrapper .field-name-field-course-tags a:hover,
.node-type-course-product-wrapper .field-name-field-offsite-link a:hover,
.node-type-course-product-wrapper .field-name-commerce-price a:hover,
.node-type-course-product-wrapper .field-name-field-product a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-body a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-lessons a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-running-time a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-offsite-link a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-commerce-price a:hover,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-product a:hover {
  color: #4d990f;
}
.view-april-afternoon-courses .views-row .field-name-field-thumbnail .field-item:not(:first-child),
.node-type-course-product-wrapper .field-name-field-thumbnail .field-item:not(:first-child),
.page-taxonomy-term .node-course-product-wrapper .field-name-field-thumbnail .field-item:not(:first-child) {
  display: inline;
}
.view-april-afternoon-courses .views-row .field-name-field-running-time,
.node-type-course-product-wrapper .field-name-field-running-time,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-running-time {
  font-size: 14px;
  margin-bottom: 0;
}
.view-april-afternoon-courses .views-row .field-name-field-course-tags,
.node-type-course-product-wrapper .field-name-field-course-tags,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags {
  font-size: 14px;
}
.view-april-afternoon-courses .views-row .field-name-field-course-tags .field-item,
.node-type-course-product-wrapper .field-name-field-course-tags .field-item,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags .field-item {
  display: inline-block;
}
.view-april-afternoon-courses .views-row .field-name-field-course-tags .field-item:after,
.node-type-course-product-wrapper .field-name-field-course-tags .field-item:after,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags .field-item:after {
  content: ", ";
}
.view-april-afternoon-courses .views-row .field-name-field-course-tags .field-item:last-child:after,
.node-type-course-product-wrapper .field-name-field-course-tags .field-item:last-child:after,
.page-taxonomy-term .node-course-product-wrapper .field-name-field-course-tags .field-item:last-child:after {
  content: "";
}
.view-april-afternoon-courses .views-row .field-name-commerce-price,
.node-type-course-product-wrapper .field-name-commerce-price,
.page-taxonomy-term .node-course-product-wrapper .field-name-commerce-price {
  font: 300 24px/24px indivisible;
  color: #999999;
  clear: both;
}
.view-april-afternoon-courses .views-row .disabled-product-notification,
.node-type-course-product-wrapper .disabled-product-notification,
.page-taxonomy-term .node-course-product-wrapper .disabled-product-notification {
  font-size: 14px;
}
.view-april-afternoon-courses .views-row .course-access-notification a,
.node-type-course-product-wrapper .course-access-notification a,
.page-taxonomy-term .node-course-product-wrapper .course-access-notification a {
  font: 600 13px/24px indivisible;
  padding: 0 13px;
  display: inline-block;
  height: 24px;
  background-color: #49b3cd;
  color: white;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.view-april-afternoon-courses .views-row .course-access-notification a:hover,
.node-type-course-product-wrapper .course-access-notification a:hover,
.page-taxonomy-term .node-course-product-wrapper .course-access-notification a:hover {
  background-color: #147da4;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}

.node-type-course-product-wrapper .field-name-body {
  padding: 24px 0;
  font-size: 20px;
  line-height: 27px;
}
@media (max-width: 500px) {
  .node-type-course-product-wrapper .field-name-field-thumbnail .field-item:first-child img {
    width: 100%;
    height: auto;
  }
}
.node-type-course-product-wrapper .course-access-notification a {
  font-size: 18px;
  padding: 6px 18px;
  height: auto;
  border-radius: 3px;
}

.node-type-course-paid-content .field-name-body {
  margin-bottom: 24px;
}
.node-type-course-paid-content .node-videojs-playlist {
  padding: 24px;
  border-top: solid 1px #cccccc;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a {
  display: block;
  background-color: #202020;
  color: white;
  padding: 6px 12px;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a:hover {
  background-color: #4d990f;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a.playing {
  background-color: #8dc63f;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a.paused {
  background-color: #ffbc40;
}

.video-js .vjs-control-bar {
  background-color: rgba(32, 32, 32, 0.7);
}
.video-js .vjs-slider {
  background-color: rgba(141, 198, 63, 0.2);
}
.video-js .vjs-load-progress div {
  background: #8dc63f;
}
.video-js .vjs-big-play-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgba(32, 32, 32, 0.5);
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
}
.video-js .vjs-big-play-button:focus {
  background-color: #8dc63f;
}
.video-js:hover .vjs-big-play-button {
  background-color: #8dc63f;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}

.vjs-big-play-centered .vjs-big-play-button {
  margin-top: -30px;
  margin-left: -30px;
}

.vjs-icon-placeholder:before {
  line-height: 56px;
  font-size: 36px;
}

.node-type-course-paid-content .field-name-body {
  margin-bottom: 24px;
}
.node-type-course-paid-content .node-videojs-playlist {
  padding: 24px 0;
  border-top: solid 1px #cccccc;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a {
  display: block;
  background-color: #202020;
  color: white;
  padding: 6px 12px;
  transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease 0s;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a:hover {
  background-color: #4d990f;
  transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a.playing {
  background-color: #8dc63f;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a.paused {
  background-color: #ffbc40;
}
.node-type-course-paid-content .node-videojs-playlist .playlist li a.has-had-play-clicked::after {
  content: "✓";
  margin-left: 18px;
}

.video-js .vjs-control-bar {
  background-color: rgba(32, 32, 32, 0.7);
}
.video-js .vjs-slider {
  background-color: rgba(141, 198, 63, 0.2);
}
.video-js .vjs-load-progress div {
  background: #8dc63f;
}

.comment-form textarea {
  min-height: 200px;
}

/*# sourceMappingURL=main.css.map */
